[2015-10-16 19:11] jlord opened #1 "Structure"
This app will be lightweight, a few pages based on Electron API categories, which demonstrate the API.
-  Index
  - Main process modules
  - Render process modules
  - Shared modules
  - Custom DOM elements

A lot of will be figured out as this is put together, like perhaps each module has its own page and perhaps there is a page explaining the two process types. And likely some static site genera

[2015-10-22 23:24] #1 closed, assigned to nobody

[2015-10-23 03:17] jlord opened #2 "Structure, a different take"
I've been thinking about this and sketching out how this may all be laid out and I am thinking rather than present it as just documentation that you can click on, that it can be structured by _what you can do with Electron_ and in human-speak. Rather than needing to guess and search for the module name that you need, you can learn by wha you want to do.

So, for instance, the main view would pose

[2015-11-13 13:08] jlord opened #3 "Cookbook!"
@simurai and I chatted today about keeping this app away from pure documentation styles, to make it more of a story, more about... recipes.

He shared [this cookbook](http://seg.phault.net/montage/cookbook/#displaytextfromaproperty) that he worked on previously which is similar. It shares examples for how to do x, y, z.

I like this though I think the word "cookbook" feels odd paired with "Electro

[2015-11-19 19:14] jlord opened #4 "Quality Control Check List"
Various things to not forget about:
- [x] new `ipc` modules
- [x] standardize on `=>` (nah)
- [x] add `;`s
- [x] testing [branch](https://github.com/atom/electron-demo/tree/jl-test)
- [x] ~~templating~~ _not doing because of scale_
- [ ] be consistent with render vs renderer

[2015-11-25 02:48] jlord opened #5 "Minimal demo of demo..."
I've got things wired up for a minimal demo of how it would be with one section, the dialog, section fleshed out. All of the colors/design stuff is just placeholder.

It would be good to maybe have a :jeans: with @simurai and @benogle this week if possible to take a look at it?

main page (all of the categories aren't built out yet, just dialogs one)

![screen shot 2015-11-24 at 6 09 39 pm](https:

[2015-12-01 23:04] jlord opened #7 "Language"
I'm going to jot down notes here of questions around language and phrasing that I have as I'm going through this.
- You can create : Create
- your app : an app
- native : operating system (in re: to readability for beginners)
- renderer

[2016-01-06 20:33] #5 closed, assigned to nobody

[2016-01-06 20:33] #2 closed, assigned to nobody

[2016-01-06 20:42] jlord opened #10 "Development To Do List"
These are development tasks to be done in the app:
- [x] complete tests
- [x] Build out each section with copy and working demos:
  - [x] **Communication**
    - [x] Async
    - [x] Sync
  - [x] **Menus**
    - [x] Context Menu
    - [x] Application Menu
  - [x] **Native UI**
    - [x] External Links and File Manager
      - [x] External Links
      - [x] File Manager
    - [x] Dialogs
      - [x]

[2016-01-29 01:12] jlord opened #16 "OS Menu Item Naming Conventions"
I was thinking of having a pro tip on the menus page about different naming conventions for menu items on different OSes. Like Preferences : Settings for OS X : Win.

Our docs have some OS X tips but not a table like this so I'm trying to pick y'alls brains:

—Are there enough of these to warrant a pro-tip?
—If there are enough, what are they?
—If not this as a pro tip, any other menu pro tip idea

[2016-02-05 18:54] #16 closed, assigned to nobody

[2016-02-09 00:52] jlord opened #17 "CSS Normalizing for Electron Demo App (and Beyond)"
We talked (at mini-summit) about potentially creating CSS that Electron app builders could include in order to give them a starting point for making their Electron app feel more native and not website-y.

I'd like to do at least some level of this for the demo app (it could later be expanded on and moved into its own repo to accomplish :point_up:). It would be awesome to :pear: some with you @simu

[2016-02-17 07:03] simurai opened #20 "Navigation"
I'm not sure anymore about the navigation. I think it's fine if you try to find something, but if you try to look at each demo, one by one, it takes some effort to:
1. scroll up
2. click the back button
3. scroll to the next item (since it doesn't keep previous scroll position)
4. click on next item

So maybe at the bottom of each "page", there could be a "next" button to keep going forward and no

[2016-02-23 06:58] #20 closed, assigned to nobody

[2016-02-23 08:31] #17 closed, assigned to nobody

[2016-02-24 06:39] #4 closed, assigned to nobody

[2016-02-24 23:41] jlord opened #28 "External Links Style"
@simurai how do you feel about using a small octicon along side external links to signal that they are external? I think I like it, but I defer to you!

<img width="555" alt="screen shot 2016-02-24 at 3 37 36 pm" src="https://cloud.githubusercontent.com/assets/1305617/13304946/cdce8938-db0c-11e5-9e5b-77e745d86d70.png">

I have a quick mock up of it on `exlinks` branch.

[2016-02-25 00:01] jlord opened #29 "Code Scrolling"
I can't horizontally scroll in the code blocks. It's super weird because when I open DevTools and toggle _off and then back on_ the `overflow` and `overflow-x` properties of `.hljs` and `pre`, then it works. Even though it's returned back to it's original CSS state... So that makes no sense.

Are you seeing this behavior @simurai?

<img width="548" alt="screen shot 2016-02-24 at 3 55 10 pm" src="h

[2016-02-25 03:30] simurai opened #32 "Design Refinement"
Here some (random) styling improvements. Feel free to add more.
- [x] Add more contrast to the colors #23
- [x] Fix scrolling after navigating #31
- [x] Add link to repo/source #39
- [x] App icon #49
- [x] Use `<button>` for the `.content h2` so keyboard can be used to open?
- [x] Add some padding at the bottom if there is no pro tip.

[2016-02-25 18:52] #28 closed, assigned to nobody

[2016-02-25 19:43] jlord opened #34 "Windows"
I'm starting to test out the app in Windows (8) and will keep track of bugs here:
- [x] Print to PDF fails
- [x] Open file manager does nothing with no errors
- [x] Font isn't rendered in window demo
- [x] Move window demo just flickers

**Windows Screenshot**

![electron-demo-2](https://cloud.githubusercontent.com/assets/1305617/13332065/1fd0ad30-dbb5-11e5-92d9-7ab6429b15c6.PNG)

[2016-02-26 19:21] #34 closed, assigned to nobody

[2016-02-26 20:56] #7 closed, assigned to nobody

[2016-02-27 01:07] jlord opened #38 "Welcome Page"
I want to create an about/welcome page that is the first page people see when they open the app.

This page will be brief but explain a little about what the app is and how to use it. :pizza:

[2016-02-29 23:23] jlord opened #40 "Linux"
I'm taking the app for a spin in Linux (`Ubuntu 12.04.5 LTS`) and making some notes here.

![electron api demos_001](https://cloud.githubusercontent.com/assets/1305617/13412426/16da77e2-def8-11e5-98a5-8e73c92dc0d7.png)
- [x] No tray icon (and no error) #42
  - Get `Gtk-Message: Failed to load module "unity-gtk-module"` message on startup (console)
- [x] PDF doesn't open because my system doesn't h

[2016-02-29 23:46] jlord opened #41 "Closing Old Windows"
If you do one of the demos that creates a new window and then you _don't_ close that new window and you at some point refresh the app and then decide to close the window, you get an error:

<img width="532" alt="screen shot 2016-02-29 at 3 38 26 pm" src="https://cloud.githubusercontent.com/assets/1305617/13413952/5dbe126c-df03-11e5-8382-36c1e56ac14a.png">

Not sure what best practice is for handli

[2016-03-01 14:13] simurai opened #43 "App icon"
Did we settle on the name "Electron Demos"? See https://github.com/atom/electron-demo/issues/3

If so, we could have an icon in a shape of a big `D`. Like

![screen shot 2016-03-01 at 11 09 48 pm](https://cloud.githubusercontent.com/assets/378023/13429351/2511e730-e003-11e5-9978-708197af6202.png)

[2016-03-01 18:29] #38 closed, assigned to jlord

[2016-03-02 02:15] #40 closed, assigned to nobody

[2016-03-02 05:00] #41 closed, assigned to jlord

[2016-03-02 06:44] #3 closed, assigned to nobody

[2016-03-02 18:26] jlord opened #50 "Add Packaging Scripts"
It's almost that time! I need to set up the packaging `npm` scripts :package:

:link: #49

[2016-03-03 00:26] #43 closed, assigned to nobody

[2016-03-03 00:43] lee-dohm opened #51 "Manage window state demo window jumps back to place higher than it started"
Before:

<img width="918" alt="screen shot 2016-03-02 at 4 42 49 pm" src="https://cloud.githubusercontent.com/assets/1038121/13480888/dcd8160e-e095-11e5-834f-767cf25fc314.png">

After:

<img width="925" alt="screen shot 2016-03-02 at 4 43 00 pm" src="https://cloud.githubusercontent.com/assets/1038121/13480890/e17be622-e095-11e5-99ca-c3e76fec4025.png">

[2016-03-03 00:54] jlord opened #53 "Windows icon"
I've packaged it up and tried it out on Windows and the icon looks great except for in the bottom toolbar (what is that called?) it seems a little pixelated. I opened up Atom to compare and it definitely looks crisper.

<img src="https://cloud.githubusercontent.com/assets/1305617/13481045/3fea7772-e097-11e5-86e1-1eee3bc45067.PNG" width="302">

Looking great—

![windowsicon copy](https://cloud.gith

[2016-03-03 09:58] #32 closed, assigned to nobody

[2016-03-03 10:15] simurai opened #55 "Welcome illustration?"
Should we add some kind of fun/friendly illustration on the welcome page? No idea what.. but just to illustrate here is Inspectocat:

![inspectocat](https://cloud.githubusercontent.com/assets/378023/13491133/10c7fc70-e174-11e5-97be-305e55949356.png)

Or is that too cheesy. It doesn't have to be an Octocat, or maybe more subtle. Just to give it a tiny bit more recognizability and fill the empty spa

[2016-03-04 01:27] jlord opened #56 "Set up Auto Update"
So that this app auto updates :sparkles:

[2016-03-04 01:28] jlord opened #57 "Set up Travis"
So that we have our tests run with Travis :sparkles:

[2016-03-08 22:49] #56 closed, assigned to nobody

[2016-03-09 03:44] #51 closed, assigned to nobody

[2016-03-09 04:38] #57 closed, assigned to nobody

[2016-03-09 04:39] #50 closed, assigned to jlord

[2016-03-09 08:22] #55 closed, assigned to nobody

[2016-03-09 08:31] simurai opened #68 "Style cleanup"
Reminder to self: At some point I probably should go through all the styles and do some cleanup/refactoring.

Things like this: https://github.com/atom/electron-api-demos/blob/master/assets/css/content.css#L297-L299

[2016-03-12 13:01] simurai opened #70 "New App icon?"
Hey.. I'm still not too happy with the app icon. There isn't a big connection to the app itself. And the dark green doesn't look that friendly.. so how about this:

![screen shot 2016-03-12 at 9 55 33 pm](https://cloud.githubusercontent.com/assets/378023/13723104/9ced5c06-e89d-11e5-9456-5d542e570778.png)

It's made of the 6 colors used for the sections and similar to the About graphic.

[2016-03-15 08:05] #70 closed, assigned to nobody

[2016-03-17 18:01] zeke opened #75 "Update dependencies that use a deprecated version of graceful-fs"
[code]
## The Offenders

This is kind of a wild goose chase, as the dependency is pretty deep in the tree in some spots. The two top-level offenders are `mocha` and `eletron-packager`.

[code]
## Outstanding PRs
- [ ] https://github.com/mochajs/mocha/pull/2123 → https://github.com/mochajs/mocha/issues/2121
- [x] https://github.com/bower/decompress-zip/pull/53

[2016-03-23 00:08] zeke opened #80 "Adapt more demos"
https://github.com/hokein/electron-sample-apps has lots of goodies:
- ~~camera~~
- ~~client-certificate~~
- ~~cookies~~
- ~~crash-report~~
- [x] desktop-capture
- ~~file-explorer~~
- [x] frameless-window
- ~~helloworld~~
- ~~helloworld-sharedobj~~
- [x] menus
- ~~mini-code-edit~~
- ~~mp3-encoder~~
- ~~notifications~~
- ~~pepper-flash-plugin~~
- ~~power-save-blocker~~
- [x] printing
- [ ] spellchec

[2016-03-23 21:07] zeke opened #81 "Ideas"
A rough list of ideas I had while going through the app:
- [x] It's not very clear that "Create a new window" is a clickable collapsed section. https://github.com/electron/electron-api-demos/pull/95
- [x] Homepage should have a "Get Started" button that leads to the first demo (or a "getting started" page, once that exists).
- [x] [Demo] button should be [View Demo] #135
- [x] Turn the "invisible

[2016-03-23 21:49] zeke opened #82 "APIs that don't have demos yet"
This list is an attempt to gather all the APIs listed at https://github.com/atom/electron/tree/master/docs/api that don't yet have a corresponding demo:
### In Process
- [accelerator](https://github.com/atom/electron/blob/master/docs/api/accelerator.md) (keyboard shortcuts)
  - 🚧  https://github.com/electron/electron-api-demos/pull/131
- [global-shortcut](https://github.com/atom/electron/blob/mast

[2016-03-25 22:39] zeke opened #85 "Add an intro section about the quickstart app"
@jlord and I are thinking it would be good for demo users to use [electron-quick-start](https://github.com/atom/electron-quick-start) as their sandbox app while working through the demo. We should add an introductory section that covers the basics of getting the app up and running:

[code]

Might wanna also mention that `git` and `node` are required. We could use https://github.com/jlord/git-it-el

[2016-03-25 22:43] zeke opened #86 "Introduce ES2015 features used in the demo"
A followup to #79

To quote @lee-dohm

@jlord and I discussed this today and decided we should preface the demo with a blurb about electron's support for ES2015, and cover the specific new language features that will be used throughout the demo app: template strings, `const`, and `let`.

[2016-03-25 22:47] zeke opened #87 "Turn ProTips™ into regular tasks"
On our 1:1 call today, @jlord and I decided to do away with the pro-tips in the app, and instead use "tasks" for everything. This will make the UI less busy and the codebase more consistent.

The extant tips, as of today:
- run background tasks
- OS menu differences
- open outbound links externally
- sheet dialog for os x
- tray support in linux
- Find versions of Chromium Node.js V8
- Use a print

[2016-03-25 22:55] zeke opened #88 "Write main process code as you would in a normal app"
In order to automate the runtime setup of this demo, each demo's `main` process code is wrapped in a `module.exports` function:

[code]

Then each file is `require`d and its function invoked:

[code]

However, most users wouldn't write an electron app this way. They would just write:

[code]

It would be great if we could write the main process files as a user would, then figure out a way to `eval

[2016-03-25 22:57] zeke opened #89 "Support auto-updates before 1.0 launch"
@jlord pointed out that once we open-source this app, we'll likely be getting contributions from the community. It would be aweome if the demo app we release on launch day is able to update itself automatically, so anyone who has ever downloaded it will always have an up-to-date version.

@kevinsawicki we would need your help on this one!

[2016-03-30 21:05] #10 closed, assigned to nobody

[2016-03-30 21:22] jlord opened #98 "Text Pileup on Section Change"
On `master` when I click to change sections in the sidebar I'm getting this text pileup:

_I think the gif removes some frames which makes it appear like it doesn't happen at every click, but it does._

![text-pileup](https://cloud.githubusercontent.com/assets/1305617/14158033/d8fd0582-f682-11e5-8a73-10a0e08c12e1.gif)

cc @simurai

[2016-03-30 23:21] #87 closed, assigned to jlord

[2016-03-31 18:42] #88 closed, assigned to nobody

[2016-04-01 19:26] zeke opened #102 "Terminology"
@jlord and I just had a quick call to give formal names to various parts of the app's UI hierarchy. We ended up with `Category > Section > Demo`. This is not currently reflected in HTML and CSS class names, but maybe we can gradually move towards it as we continue developing.

![screen shot 2016-04-01 at 12 20 58 pm](https://cloud.githubusercontent.com/assets/2289/14217715/8feb3a34-f804-11e5-92a0-

[2016-04-01 20:50] zeke opened #103 "Tray demo is busted"
It was working recently. Not sure what regressed.

![screen shot 2016-04-01 at 1 49 43 pm](https://cloud.githubusercontent.com/assets/2289/14219711/9a04b7c8-f810-11e5-8d1c-a1a3aa7adc17.png)

[2016-04-04 17:44] #103 closed, assigned to nobody

[2016-04-05 00:05] jlord opened #107 "Update Specs for last active section/demo"
First, to figure out how the app that runs in the specs is even storing this 😀

[2016-04-06 20:55] #107 closed, assigned to nobody

[2016-04-06 21:20] #86 closed, assigned to nobody

[2016-04-06 21:20] #85 closed, assigned to nobody

[2016-04-08 20:06] jlord opened #114 "Pairing with the Quick Start App"
What are the ways we can give the Quick Start App more ⨫ synergy ⨬ with the Demo App?

(many of these changes will happen in the quick start app but since that one is open/public right now I felt it better to talk it through over here)
- [x] Add comments to code like `/ place your main process code here`
- [x] Link to a starter render process `js` file from `index.html`

[2016-04-12 16:33] jlord opened #121 "Accessibility"
Before we launch lets cover the bases with accessibility to set a good example and to help us better document anything we come across during the process.

Self-assigning but happy to 🍐 I'll be pinging @maun a lot on this 😄

[2016-04-13 16:55] #68 closed, assigned to nobody

[2016-04-13 18:00] #29 closed, assigned to nobody

[2016-04-13 18:32] #102 closed, assigned to nobody

[2016-04-13 20:34] jlord opened #126 "Add Chrome Accessibility DevTools Extension"
This is related to #121 but specifically about trying to get the Chrome Accessibility DevTools Extension working here (and in Electron).

Electron apps are websites in a sense, but not in the sense that they have urls that can use be used with online accessibility auditors. Getting this devtools extension working would be really helpful for Electron app developers in making their apps accessible t

[2016-04-13 23:45] zeke opened #132 "CI"
Should we set it up on this repo?

[2016-04-14 18:14] #53 closed, assigned to nobody

[2016-04-15 18:30] jlord opened #142 "Rename Printing Category to Media"
Because now it has more sections ✨ Discussed in #139 and just opening an issue here to keep it on my radar.

[2016-04-16 00:26] jlord opened #145 "Display Copy/Paste Shortcuts in Clipboard Demo"
Putting this in its own issue, ported from #81—

Detect the user's OS with process.version and only display one of: (CMD + V or CTRL + V)

[2016-04-18 16:40] kevinsawicki opened #146 "Add app to start menu on Windows"
During the installer run we should add the app to the start menu.

[2016-04-18 16:42] kevinsawicki opened #147 "Add an installer loading gif?"
Squirrel installers allow for a loading gif.

Currently it is configured to use: https://github.com/electron/electron-api-demos/blob/master/assets/img/loading.gif

We don't necessarily need an animated one but I wanted to see if people thought we needed something more than the current one.

For comparison, Atom uses this:

![](https://raw.githubusercontent.com/atom/atom/master/resources/win/loadin

[2016-04-18 16:43] #89 closed, assigned to kevinsawicki

[2016-04-18 16:45] #81 closed, assigned to nobody

[2016-04-18 19:30] zeke opened #149 "Tone down the external links"
I find the current external link treatment a bit distracting and out of sync with the color scheme. @jlord and @simurai: What do you think of just using underlines and desaturating the external link image?

Before:

![screen shot 2016-04-18 at 12 27 12 pm](https://cloud.githubusercontent.com/assets/2289/14616924/0a4f3a50-0561-11e6-844f-6bdb60792c2f.png)

After:

![screen shot 2016-04-18 at 12 27 0

[2016-04-19 00:36] #98 closed, assigned to nobody

[2016-04-19 23:25] #145 closed, assigned to zeke

[2016-04-20 20:05] jlord opened #154 "Consistent Consts...and Others"
We started using the `const`, `let` and string templates in places but we don't use them everywhere. It makes sense to be consistent all over, right? Just wanted to check because I can go through and do a sweet to make this so 👍

[2016-04-20 23:15] #142 closed, assigned to jlord

[2016-04-22 00:16] #132 closed, assigned to kevinsawicki

[2016-04-26 16:42] #154 closed, assigned to nobody

[2016-04-27 21:00] kevinsawicki opened #170 "Style scrollbars on Windows?"
Loading the app on Windows 10 shows a scrollbar on the left hand side:

<img width="256" alt="screen shot 2016-04-27 at 1 59 40 pm" src="https://cloud.githubusercontent.com/assets/671378/14868041/5ba560a2-0c80-11e6-9780-5c29304a1b6a.png">

Maybe it should be styled explicitly or at least make the default height high enough to not show it?

/cc @simurai

[2016-04-27 22:45] #146 closed, assigned to kevinsawicki

[2016-04-28 23:09] #80 closed, assigned to nobody

[2016-04-28 23:10] #75 closed, assigned to nobody

[2016-04-29 00:13] #126 closed, assigned to jlord

[2016-04-29 02:02] #114 closed, assigned to jlord

[2016-04-29 02:03] #82 closed, assigned to nobody

[2016-04-29 16:17] #149 closed, assigned to nobody

[2016-04-29 17:18] #147 closed, assigned to nobody

[2016-05-02 22:49] #170 closed, assigned to nobody

[2016-05-04 16:18] #121 closed, assigned to jlord

[2016-05-11 11:46] netgusto opened #179 "Shortcut demo `Command-Alt-D` toggles the visibility of the dock on OSX"
* What operating system are you using? OSX El Capitan 10.11.4
* What version of Node.js is on your system? 5.11.0

In the demo "Menu > Register keyboard shortcuts", the demo shortcut is defined as `Command+Alt+D`.
This works as expected, but has the side effect of toggling the visibility of the OSX system dock.

This might be confusing, not finding your dock after the demo.

[2016-05-11 15:40] jordanbtucker opened #185 "Tray icon invisible on black/dark taskbars in Windows 10"
At first I thought the demo wasn't working, but then I realized the tray icon was there, just invisible.

No mouse hover:
![tray-black](https://cloud.githubusercontent.com/assets/468153/15186914/c42fe9c0-1753-11e6-8503-2faa0fbfed52.png)

Mouse hover:
![tray-black-hover](https://cloud.githubusercontent.com/assets/468153/15186922/cdb95058-1753-11e6-926b-62220418946a.png)

[2016-05-12 16:23] Klestofer opened #187 "small copypaste"
`clickEvent` is not necessary [here](https://github.com/electron/electron-api-demos/blob/master/renderer-process/communication/invisible-msg.js#L14)

[2016-05-12 18:44] charlestati opened #189 "Uncaught Exception when the app is closed and then removed from the tray"
* What operating system are you using?
OS X El Capitan 10.11.4
* What version of Node.js is on your system?
v5.10.1

An error occurs when we:

1. Place the app in the tray
2. Close the app using the native close icon
3. Click `Remove` in the tray menu

I am using the compiled version downloaded from [the official site](http://electron.atom.io/#get-started).

Here is the error message:

**A JavaScr

[2016-05-12 20:29] dcrystalj opened #190 "[feature-request] make executable instructions"
I would love to see instructions how to make installer or pack in ```asar``` and distribute app.  I know its not related to main electron repository but its hard related to electron eco-system

[2016-05-13 15:25] matjaz commented on #187
wonder how this is not catch with standard lint.

[2016-05-13 16:41] iyedb opened #193 "Wrong path to invisible.html in communication with invisible windows example"
Reproduced on Win7 and OS X, the path to invisible.html is wrong leading to the invisible window process being created and not destroyed and the factorial 100 is not returned.

![image](https://cloud.githubusercontent.com/assets/643030/15255100/4bafea3e-193a-11e6-94d7-6694c69f51c4.png)

[2016-05-17 17:40] kevinsawicki commented on #187
Fixed by #192

[2016-05-17 17:40] #187 closed

[2016-05-17 17:40] kevinsawicki commented on #193
Fixed by #194

[2016-05-17 17:40] #193 closed

[2016-05-19 22:31] carlskii opened #208 "Include example for using the remote module."
Is there an example for using the remote module in the this demo?  I can't seem to see it anywhere.

It would be good to add this to the communication section.

[2016-05-20 15:23] #179 closed

[2016-05-20 15:29] jlord commented on #208
While there isn't a remote specific demo right now, many of the demos do use `remote`. For instance the Windows demos use `remote` to create new windows. Perhaps that can be helpful until a specific `remote` demo is added.

[2016-05-20 20:54] #189 closed

[2016-05-21 11:57] carlskii opened #211 "Adding additional libraries to the renderer process"
Hi, what would be the correct way to add additional JavaScript libraries to the Renderer process? E.g. jquery

[2016-05-22 23:43] danhp commented on #211
You can leverage the fact that you have to access Node, so you can add a `require()` pointing the jQuery file similar to what is done in `index.html`:
https://github.com/electron/electron-api-demos/blob/master/index.html#L103

For future references, questions are best answered over at https://discuss.atom.io/c/electron where more people are likely to see them 😄

[2016-05-23 16:59] #211 closed

[2016-05-25 19:17] #185 closed

[2016-06-06 17:13] IAMtheIAM opened #218 "App demo is blank: locally on Windows 8, 10"
- What operating system are you using?
  Windows 10 pro x64
- What version of Node.js is on your system?
  Node LTS 4.4.4

When I clone, `npm install` and `npm start` the app, it opens the window, and its just blank. Devtools shows no markup at all. What is missing to make it install?

[2016-06-07 11:17] ZvikaZ opened #219 "Error while loading shared libraries: libnotify.so.4: no such file or directory"
Trying to run Electron API Demos on SLES11, failed with:
`./Electron API Demos: error while loading shared libraries: libnotify.so.4: cannot open shared object file: No such file or directory
`

My system details:

LSB Version:    core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-x86_64:core-3.2-x86_64:core-4.0-x86_64:desktop-4.0-amd64:desktop-4.0-noarch:graphics-2.0-amd64:graphics-2.0-noar

[2016-06-07 23:00] samyk opened #220 "Crash upon removing Tray icon twice"
* OS X 10.10.5, node v6.2.1

Steps to reproduce:
1) Click "Put your app in the tray"
2) Click "Tray" to expand
3) Click "View Demo"
4) Click the tray icon in the menubar
5) Click "Remove" in the expanded tray icon
6) Click "View Demo" (if no crash, repeat starting at step 3)

I tried adding `if (appIcon)` in all locations appIcon was accessed in main-process/native-ui/tray/tray.js and also tried s

[2016-06-08 12:54] cairinmichie opened #221 "Screen size inaccurate."
My screen size is 1920x1080, but the API Demo app says it is 1920x1050.

Operating system:

* Windows 10 Pro

Node.js version:

* Node.js 5.7.0 (x64)

![screen1](https://cloud.githubusercontent.com/assets/10084084/15894745/dfd12834-2d87-11e6-9a46-9627dcf4315b.jpg)

[2016-06-08 12:58] cairinmichie commented on #221
I think it may be due to the taskbar height. Does `workAreaSize` include the taskbar?

`const size = electronScreen.getPrimaryDisplay().workAreaSize`

[2016-06-08 20:01] kevinsawicki commented on #220
@samyk what version of the app are you using?

[2016-06-08 20:03] samyk commented on #220
@kevinsawicki master branch

[2016-06-08 20:05] kevinsawicki commented on #220
@samyk can you check which version of Electron is being used in the running app?

It is available from the `process.versions.electron` in the Console tab of the dev tools.

[2016-06-08 20:06] samyk commented on #220
@kevinsawicki 1.1.3

[2016-06-08 20:08] kevinsawicki commented on #220
Hmm, having trouble reproducing this locally. Is there a stack trace available or what type of crash is it?

[2016-06-08 20:11] samyk commented on #220
@kevinsawicki
Process:               Electron [4929]
Path:                  /Users/USER/*/Electron.app/Contents/MacOS/Electron
Identifier:            com.github.electron
Version:               1.1.3 (1.1.3)
Code Type:             X86-64 (Native)
Parent Process:        node [4928]
Responsible:           Terminal [253]
User ID:               501

Date/Time:             2016-06-08 13:10:11.027 -0700

[2016-06-08 20:12] jlord commented on #221
Ah, yeah, you're right. There is `workAreaSize` which is the available screen real estate and then `.size` which provides the raw dimensions of the screen.

This should be more clear and I'll make a pull request 👍

[2016-06-08 20:13] kevinsawicki commented on #220
Thanks, looks like https://github.com/electron/electron/issues/5656

[2016-06-08 22:54] #221 closed

[2016-06-09 06:07] uliska opened #224 "Deprecated Node modules"
During the `npm install` step I get warnings about deprecated modules:

* `jade@0.26.3`
* `wrench@1.5.9`

Installing and running works, but maybe this should be addressed.

For the record: I'm running Node 4.4.4 on Debian 8.4

[2016-06-10 20:04] jlord commented on #224
These modules are dependencies of projects we don't maintain.

I've checked and the two projects, `mocha` and `electron-windows-store`, have not yet made these updates in their latest version.

I'm going to close this out since nothing is broken and it just occurs once when installing locally (people who download the app won't see this) and one day (fingers crossed!) these updates will be upstream

[2016-06-10 20:04] #224 closed

[2016-06-10 20:06] jlord commented on #218
Hmm, that's strange. This should be all you need in order to launch. Are you getting errors in your terminal either when you `npm install` or after `npm start`?

[2016-06-11 10:53] fakefish opened #226 "how to generate update request?"
This question is not about the framework but about the code in `auto-updater.js`. I don't know how to generate the update request like `https://electron-api-demos.githubapp.com/updates?version=${app.getVersion()}`, what stuff did you guys do?

[2016-06-11 13:18] hlh1986 commented on #218
Your opterating system  is not support this installion  program . change your computer opterating system to Window 8 pro x64

[2016-06-13 17:05] kevinsawicki opened #227 "Demos not working in Mac App Store build"
Noticed a few demos aren't working in the Mac App Store build

- Open a File or Directory (dialog does not appear) #229
- Save Dialog (dialog does not appear) #229
- Launch app from URL in another app (nothing happens) #231
- Print to PDF (Preview app doesn't open) #230
- Take a Screenshot (Preview app doesn't open)

/cc @jlord

[2016-06-13 20:35] jlord commented on #218
This app _does_ work with Windows 10 Pro. I've just tested it there with Node `4.4.5`

[2016-06-18 20:01] greenleafone7 opened #233 "Error while running npm-install"
While trying to run `npm-install` I kept getting this error.

[code]

I do not know if this is an issue due to my machine or is it something that is worth reporting, but I am doing so anyway. Please advise whether this is an actual bug with the code or not.

Thanks.

[2016-06-20 18:13] zeke commented on #233
It looks like there is indeed a 0.3.0 version of that package which which satisfies the `'>=0.3.0 <0.4.0` range, so that's not the issue:

[code]

[code]

Ah, I think I found it: https://github.com/felixrieseberg/electron-windows-store/blob/62ed6d4a904824f3740c0631dd8e57e6ca312d79/package.json#L25-L27

The package requires node 4 or greater. You're running node 0.12. Are you able to upgrade?

[2016-06-20 18:19] jlord commented on #226
You need to set up a server somewhere to handle the request. We used Heroku.

[2016-06-21 16:12] jlord commented on #220
@samyk I've created a branch which implements the workaround suggested in #5656 but because I can't reproduce the original issue I can't test this solution. If you're able to run this branch locally and see if the problem still occurs that would be ✨

https://github.com/electron/electron-api-demos/tree/traycrash

[2016-06-21 18:06] greenleafone7 commented on #233
I see, then this has nothing to do with the code itself. I shall upgrade to the suggested version, thank you for the heads up.

[2016-06-21 18:06] #233 closed

[2016-06-21 18:42] samyk commented on #220
@jlord Your branch resolved the issue, and I confirmed master still has the issue. Thanks!

[2016-06-21 18:55] jlord commented on #220
Awesome, thanks so much for testing it out @samyk!

[2016-06-22 04:29] sandeepl337 commented on #220
super kool :-)

[2016-06-22 16:59] #220 closed

[2016-06-26 05:43] fakefish commented on #226
thanks

[2016-06-26 05:43] #226 closed

[2016-06-28 21:38] hwaynefair opened #236 "ElectronAPIDemos.exe can't start error message"
Error when starting exe: "This program can't start because node.dll is missing from your computer"

windows 10
4.2.3

[2016-06-29 02:32] zeke commented on #236
Hi @hwaynefair. Did you build the app from source or download the exe from somewhere?

[2016-06-29 02:48] hwaynefair commented on #236
Downloaded from electron website.
Then built from GitHub and works fine.
Thanks!

Sent from my iPhone

[2016-06-29 17:13] zeke commented on #236
This might shed some 💡

https://github.com/electron-userland/electron-packager/issues/330

[2016-07-01 17:29] zeke opened #238 "Register a custom protocol so we can deep link to demos."
I keep telling people "there's a demo for that". It would be cool if we could link directly to specific demos, like:

[code]

[2016-07-01 18:17] zeke commented on #190
This is indeed an important thing for electron developers to know, but it's out of the scope of the demo app, which exists primarily to familiarize users with Electron's APIs.

I would recommend these docs for learning more about `asar` and how to package and distribute your app:

- http://electron.atom.io/docs/tutorial/application-distribution/
- http://electron.atom.io/docs/tutorial/application-

[2016-07-01 18:17] #190 closed

[2016-07-03 09:07] caishengmao opened #239 "mac electron change icon?"
"pack-mac": "electron-packager . --asar --asar-unpack=protocol-link.html --overwrite --platform=darwin --arch=x64 --icon=assets/app-icon/mac/app.icns --prune=true --out=out --osx-sign.identity='Developer ID Application: GitHub' --extend-info=assets/mac/info.plist", This demo change icon to another, why I can't change?

[2016-07-05 04:51] hanwenbo opened #240 "安装不上"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/6.2.2/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'start' ]
2 info using npm@3.9.5
3 info using node@v6.2.2
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle ElectronAPIDemos@1.1.0~prestart: ElectronAPIDemos@1.1.0
6 silly lifecycle ElectronAPIDemos@1.1.0~prestart: no script for

[2016-07-05 17:32] jlord commented on #239
Hi! The line you have pasted points `electron-packager` to the location of the `.icns` icon file to be used on macOS. I'm not sure I understand your question, are you wanting to know how to change the icon in your own Electron app?

[2016-07-05 17:33] jlord commented on #240
Hi! Could you tell us more about what you did before getting this error and what version of macOS you are on?

[2016-07-06 20:43] violinner opened #242 "Running /tests/"
* What operating system are you using? Windows 7
* What version of Node.js is on your system? 5.0.0

How can I run the test in electron-api-demos/tests/index.js ?

npm test

runs a mocha test, which fails with a message (below).
Do you have any advice on how to run correctly?
Is the Electron GUI supposed to come up?

Thanks!

demo app
    1) "before all" hook
  0 passing (30s)
  1 failing
  1) dem

[2016-07-07 13:25] violinner commented on #242
What is needed to run a spectron test on this build?
Does something have to be run before npm test?

[2016-07-07 16:18] jlord commented on #242
I'm not sure what is causing this problem and I'm not able to reproduce it because I don't have Windows 7. If you `npm install` and then `npm test` the tests should begin. The app options and goes through the motions in the spec and the results are put into your console.

[2016-07-07 19:45] violinner commented on #242
There is a problem installing electron-chromedriver 1.0.0.

spectron v 3.2.3 depends on electron-chromedriver 1.2.1, and this combination will install.
The test, however will not work on spectron 3.2.4.

Is there a change to the test code, or other node module versions that would allow this example to run the tests using spectron v 3.2.3 or v 3.2.4?

[2016-07-07 20:34] violinner commented on #242
How can I debug the problem running the test?
Is the GUI for the electron app supposed to pop up?
What process is supposed to cause this, and does it have a debug log setting?
Something, i.e., "demo app "before all" hook" is timing out waiting -- for what?

[2016-07-08 16:19] kevinsawicki commented on #227
I believe these have all been addressed, closing this out.

[2016-07-08 16:19] #227 closed

[2016-07-09 08:56] a-x- opened #244 "postinstall error"
os x, node v6.3.0 (via nvm)

tail of npm i
[code]

tail of npm-debug.log:
[code]

[2016-07-11 22:15] zeke commented on #244
I just did `rm -rf node_modules && npm i` using node 6.3.0 and didn't have any installation errors, but when I `npm start` I also see an error related to `electron-prebuilt`:

[code]

[2016-07-11 22:23] zeke commented on #244
Hmm. I did another fresh install and it's working fine. I am unable so far to deterministically reproduce a failure.

[2016-07-11 23:05] jlord commented on #244
@zeke Yeah we've seen that error before and it's been an npm blip.

[2016-07-12 19:43] #242 closed

[2016-07-12 22:52] amilajack opened #245 "`powerSaveBlocker` method example"
`powerSaveBlocker` doesn't seem to work for me. I used the example in the docs but `powerSaveBlocker` is imported as undefined. I'm wondering if some examples could be provided in this repo. Thanks!

[2016-07-12 23:30] zeke commented on #245
@jlord added `powerSaveBlocker` to the playback app a while ago. Here's the code for that: https://github.com/mafintosh/playback/blob/16fcfe1ff3a53a0dc5a7875b53bf3cda7f526d59/app.js#L9

If you're still stuck, can you share a snippet of the code you're using?

[2016-07-12 23:42] amilajack commented on #245
I've fixed it. I need to import `remote` from `electron` because I was using it in the renderer process.

[2016-07-12 23:42] #245 closed

[2016-07-12 23:42] jlord commented on #245
Sweet!

We thought about including it but it's hard to _demo_ because we'd need the power change on the user's system 🔋

[2016-07-18 06:00] dwtrace opened #246 "msi is not work in windows 10"
windows 10
node v6.2.1

run :npm run installer  to create msi file。but the .msi file is not work.

After running the interface, it's over

![20160718135444](https://cloud.githubusercontent.com/assets/19339005/16906760/3e0abab0-4cef-11e6-8038-54f276e7011c.png)

[2016-07-18 12:31] hovancik commented on #218
@IAMtheIAM

try to wait more time. in my case (os x), it does take around minute to see app's contents. it's blank window until then

[2016-07-18 12:37] hovancik commented on #242
@jlord @violinner

I have same problem:

OS X 10.11.5
node v6.2.2

`Error: timeout of 10000ms exceeded. Ensure the done() callback is being called in this test.`

[2016-07-18 14:34] hovancik commented on #242
so it's node version. updating to 6.3.0 works

[2016-07-19 07:23] gaksoon2003 opened #247 "Android"
* What operating system are you using?
* What version of Node.js is on your system?

[2016-07-19 13:32] #247 closed

[2016-07-20 16:39] Pazza opened #248 "Packages with custom ui elements"
I am trying to define some custom ui elements in my package but it is impossible to reach Editor.UI.registerElement as Editor.UI is not defined at this point in the application's lifecycle. Is there a particular location I should be loading this info?

[2016-07-20 16:40] #248 closed

[2016-07-20 22:06] NoahDragon commented on #218
I'm using Win 10, and nodejs 4.4.5. Nothing popup after run the demo.

[2016-07-29 16:16] lugaid13 opened #249 "Virus Detected in files while npm install"
* What operating system are you using?
Windows 8.1
* What version of Node.js is on your system?
4.4.7

While performing npm install, I get a warning message from the Antivirus scan for this file
electron-api-demos\node_modules\electron-winstaller\vendor\WriteZipToSetup.exe
Detected as a trojan Artemis!93D2D59A3747

[2016-07-29 17:26] felixrieseberg commented on #249
The signature of a valid installer and a malware installer are really similar, but we already confirmed that the files matched are a-ok. It's kind of difficult to point out where exactly the blame should be, but bottom line is that that `electron-winstaller` does not contain any viruses or trojans...

[2016-07-29 17:26] #249 closed

[2016-07-29 17:50] lugaid13 commented on #249
Thanks for the quick response.
Hopefully this information will be useful for future users

[2016-08-01 05:27] mars-lander opened #250 "Warning: Trojan and virus inside "spectron" module."
Be careful guys and please warn users on README file about this.
DO NOT USE THAT MODULE.
Here is list of Trojan and Riskwares:

Trojan.Win32.Generic!BT
W32.Clodb96.Trojan.3010
Trojan.Ebowla
W32/Trojan.CNQO-8612
Trojan.Ebowla.d
Riskware ( 0040eff71 )
Riskware ( 0040eff71 )
Trj/CI.A
Trojan.Win32.Z.Ebowla.1744384[h]

[2016-08-01 05:31] MarshallOfSound commented on #250
@mars-lander Please track this upstream in #93

It is a false positive, we simply need to determine what is causing it.  Maybe you can provide that issue with more details as to exactly which file is causing these false positives and all the details your AV program gives you

[2016-08-01 05:31] #250 closed

[2016-08-03 22:55] zeke opened #251 "Consider replacing `electron-json-storage` with `electron-config`"
When we first started storing user state in the app, we tried localStorage, but that wasn't great because localStorage is only persisted to disk if the app exits "cleanly". `^C` is not a clean exit, so state is lost when you're in development.

I googled around and ended up finding `electron-json-storage`. It worked for our needs, but wasn't ideal because of its asynchronous API.

[electron-config

[2016-08-07 16:10] joeblew99 opened #253 "Golang talking to electron"
* What operating system are you using?
Osx
* What version of Node.js is on your system?
6

I am trying to convey all of the api demos so that all the UX actions can be initiated from golang.

Does anyone have any tips / samples ?

[2016-08-08 23:01] jlord commented on #240
Feel free to re-open with more information.

[2016-08-08 23:01] #240 closed

[2016-08-08 23:01] jlord commented on #244
@a-x- have you had any better luck with this?

[2016-08-08 23:04] jlord commented on #253
@joeblew99 we haven't experimented with that on our team. I'm going to close out here since it's not a bug in this app; you'll likely find more resources in the forum: https://discuss.atom.io/c/electron.

[2016-08-08 23:04] #253 closed

[2016-08-09 15:48] etiennejcharles commented on #242
I tried a try catch statement on my windows machine for that on line:20 in tests/index.js
[code]

And the returned error given to me is the following

[code]

Seems like the path is no good on windows.

Somewhat using something like :
[code]
Would be the solution
But don't have a clue how to fix this, I'm still discovering node, smells like PR.

[2016-08-22 21:04] jlord commented on #218
Does anyone get any errors in the console (or elsewhere) when they do this?

[2016-08-22 21:07] jlord commented on #219
Have you had any more luck with this? Are you able to install `libnotify.so.4` manually?

[2016-08-22 21:08] #236 closed

[2016-08-22 21:09] jlord commented on #239
Closing until more information is added ✨

[2016-08-22 21:09] #239 closed

[2016-08-22 21:14] jlord commented on #246
Do you mean that this screen you've included freezes and never concludes building the installer?

[2016-08-23 06:59] ZvikaZ commented on #219
Didn't succeed.
And anyway, after seeing that such an important issue went without any reply from the Electron team, I gave up evaluating it.
It's a nice project, but probably not ready yet for production, with such problems and no support.

[2016-08-23 23:09] jlord commented on #219
I'm not able to reproduce this and am not familiar enough with this environment. Perhaps someone else will be able to chime in.

[2016-08-24 06:39] ZvikaZ commented on #219
"Can't reproduce" is much better than no reply...
Anyway, in what distros did you try to reproduce?

[2016-08-24 17:42] jlord commented on #219
@ZvikaZ This is likely a bug with Electron itself. Can you try installing the dependency? https://software.opensuse.org/package/libnotify4 or via a package manager.

Cross 🔗 to related issue https://github.com/electron/electron/issues/5348

[2016-09-04 22:22] asRIA opened #256 "pack-win hangs when project is placed directly top level folder"
Windows 10,  Node 6.4.0

[code]
After that, application hangs and has to be killed.

After tracking down this issue it looks like: electro-packager->get-package-info extension jumps into not terminated loop. Unfortunately I wasn't able to track down if it was due `electron-api-demos` configuration or due error in submodule's logic.

Placing the same project to a subfolder makes this step work.

I'

[2016-09-07 17:31] jlord commented on #256
I wasn't able to reproduce this with:

- Windows 10
- Node 4.50

![npmrunpackwin](https://cloud.githubusercontent.com/assets/1305617/18322163/1d16188a-74e6-11e6-9875-993b2c04f440.png)

Could it possibly be a Node 6 issue?

[2016-09-07 17:50] jlord commented on #256
I also wasn't able to reproduce this after installing Node 6.5.0 😕

![node65](https://cloud.githubusercontent.com/assets/1305617/18322712/e5a562e0-74e8-11e6-8fe0-67a065a77c02.png)

[2016-09-07 18:02] jlord commented on #246
@dwtrace the `npm run installer` script generates an `ElectronAPIDemosSetup.exe` file, how did you  generate an `msi`?

[2016-09-07 18:03] jlord commented on #244
Closing this out as stale. Feel free to update the thread if you reinstall and things work.

[2016-09-07 18:03] #244 closed

[2016-09-07 18:04] jlord commented on #219
Closing this out here as it's not an issue with the Demos app specifically.

[2016-09-07 18:04] #219 closed

[2016-09-07 18:06] jlord commented on #218
I am not able to reproduce this using Windows 10 Pro x64 with either Node LTS 4.5.0 or 6.5.0. I don't have a Windows 8 VM to test on however so can't report there.

[2016-09-07 18:07] asRIA commented on #256
@jlord you have to place a project directly in `C:\` path (or any other disc letter.

[2016-09-07 18:08] jlord commented on #208
I'm going to close this out. We use `remote` in many of the existing demos so it is documented. If someone wants to add a demo specifically for remote it would be welcomed and they can open a PR ✨

[2016-09-07 18:08] #208 closed

[2016-09-07 20:28] jlord commented on #256
@asRIA Oh, whoops, sorry, I had that in my head then totally went off and forgot that part 😄

I cloned this repo directly into `C:\` and was able to package:

![cdir](https://cloud.githubusercontent.com/assets/1305617/18327239/720d9490-74fe-11e6-8394-42c439d5812e.png)

In your original comment you clone into `elpais` and then `cd eltest`, not sure if I'm missing something here but shouldn't you `c

[2016-09-07 20:34] asRIA commented on #256
@jlord
My bad, I mean it should be twice the same name. I just shorten a name to remove `-` form it. (just in case)

It looks like it works for you, have you tried node 6.5?

[2016-09-07 20:43] asRIA commented on #256
@jlord Apparently I can't reproduce it anymore. Not sure why, because I didn't change my setup. Nevertheless thank you for checking this out! 👍

[2016-09-07 20:43] #256 closed

[2016-09-07 20:45] jlord commented on #256
@asRIA Awesome, thanks!

[2016-09-08 01:05] dwtrace commented on #246
change installer.js config: noMsi: false ,then generate an msi file

[2016-09-09 19:33] jlord commented on #246
@dwtrace Hmm, I just tried it myself with `noMsi: false` and was able to generate the file and when running it, it did not hang, and completed successfully.

I'm running:

- Windows 10 Pro x64
- Node 6.5.0

Because you've changed the original source code here I'm not sure if this is actually an issue with the Demos app itself.

[2016-09-09 19:37] paulcbetts commented on #246
It seems super unlikely that you want to distribute the Electron Demos app in an Enterprise deployment, you almost certainly want the EXE file

[2016-09-09 20:00] jlord commented on #246
Since this app isn't supporting/generating `.msi` files, I'm going to close the issue here.

If you have trouble with `.msi` in your own projects, look for the [Squirrel project](https://github.com/Squirrel) for more resources ✨

[2016-09-09 20:00] #246 closed

[2016-09-14 10:07] fuchao2012 opened #259 "add a Chinese version"
sorry to open a issue not a PR.

wants fellows to check again.

https://github.com/fuchao2012/zh-cn-Electron-API-Demos

[2016-09-14 17:07] jlord commented on #259
Hi!

I'm not sure I understand your question or issue? Have you created a translated version of the app?

[2016-09-16 22:13] NoahDragon commented on #218
Mine is working on the latest Demo 1.1.0.

[2016-09-17 06:54] fuchao2012 commented on #259
hi , @jlord yep. I had translated the app into chinese.

[2016-09-19 18:28] jlord commented on #259
@fuchao2012 Cool, thanks for that! I'll add a link to your project in the `readme` here.

[2016-09-23 16:55] #259 closed

[2016-09-23 20:51] Haacked commented on #218
Thanks for following up!

@IAMtheIAM are you still running into problems?

[2016-09-25 14:46] maliskono opened #262 "Maliskono"
* What operating system are you using?
* What version of Node.js is on your system?

[2016-09-25 14:47] maliskono commented on #262
Blog

[2016-09-25 16:31] #262 closed

[2016-09-29 22:03] zeke opened #267 "Release process hangs on Heroku deployment step"
Output is stuck at this:

[code]

When I try to access the app's config in another tab:

[code]

So I think the process is just hanging on this stdin thing.

@kevinsawicki any thoughts on how to make this fail when not logged in (or even better, ask for creds on the fly)? Maybe a `heroku whoami` check before?

[2016-09-29 22:05] kevinsawicki commented on #267
Nope, haven't really done much work with the `heroku` CLI before. Adding an early check somehow seems fine to me.

[2016-09-30 18:56] #267 closed

[2016-10-13 16:07] jbleuzen opened #271 "Custom protocols not showing the error box on windows"
* What operating system are you using?
Windows 10

* What version of Node.js is on your system?
None

I tried to use your demo of custom protocols because it's supposed to be supported on OSX and Windows :

![screen shot 2016-10-13 at 16 32 33](https://cloud.githubusercontent.com/assets/280681/19353140/a9f38592-9162-11e6-8a8a-a845da837631.png)

I made some tests and it works perfectly on OSX, the

[2016-10-13 23:46] Haacked commented on #271
Hi @jbleuzen, I want to make sure I understand which part of this demo fails. I'm running on Windows 10 as well. When I click the "View Demo" button, it launches my default browser to a page that looks like...

![image](https://cloud.githubusercontent.com/assets/19977/19370995/7af070dc-9164-11e6-9796-8d0e35146a57.png)

When I click that button, I get the following error dialog:

<img src="https://

[2016-10-14 01:53] MarshallOfSound commented on #271
@Haacked That isn't a bug, that is you running from source right?  If you use the packaged version this issue shouldn't occur as the `default_app` is not packaged.

[2016-10-14 08:38] jbleuzen commented on #271
@Haacked The thing that fail in the demo is that I expect to see a similar popup on Windows :

![screen shot 2016-10-14 at 10 36 44](https://cloud.githubusercontent.com/assets/280681/19381035/214c0028-91fa-11e6-9c6d-e3b600d31475.png)

When launching application in dev, I get the browser opening the green page but when I click on the link electron-api-demos://open the windows application get focus

[2016-11-21 21:51] kof opened #273 "setAsDefaultProtocolClient on windows 7"
The problem is reproducible using the ElectronAPIDemos package version 1.2.0, just cloned from master.

* Electron version: 1.4.7
* Operating system: Windows 7 Ultimate Service Pack 1, 32 bit, using Parallels
* Node 6.3.0
<img width="1275" alt="screen shot 2016-11-21 at 9 19 09 pm" src="https://cloud.githubusercontent.com/assets/52824/20499242/eb3c1ae0-b030-11e6-8bae-e08e69f15338.png">

<img width

[2016-11-21 22:52] linyi-xia opened #274 "Trojan detected"
* What operating system are you using?  Win10
* What version of Node.js is on your system? N/A

When I try to extract the file, it alerted me that Trojan has been detected in the zip file....

[2016-11-22 05:35] MarshallOfSound commented on #273
The `setAsDefaultProtocolClient` only works on packaged versions of the application 👍

[2016-11-22 05:35] #273 closed

[2016-11-22 07:28] kof commented on #273
Then this is a documentation bug, right?

[2016-11-22 07:54] MarshallOfSound commented on #273
@kof See #271 and #275

[2016-11-22 07:55] MarshallOfSound commented on #274
What file and what anti-virus software.  It is 100% a false positive FYI

[2016-11-22 08:00] kof commented on #271
A not right inside of that demo is also required to stop this bug reports popping out.

[2016-11-25 09:02] cuboicloide commented on #218
To start the app, you can run the following _(one line)_ command into your cmd:

`C:\Users\Francesco\Documents\GitHub\electron-api-demos\node_modules\electron\dist\electron.exe C:\Users\Francesco\Documents\GitHub\electron-api-demos\main.js`

Obviously, change the path in order to match your own electron-api-demos folder.

[2016-11-25 15:28] IAMtheIAM commented on #218
Strange but it appears to be working now. I tried using fresh install of windows 10 x64, node 6.9.1 LTS and everything works fine. On my other computer where the original issue was, I havent yet reconfirmed. So I'll close this until I test on that computer again, if it persists I'll reopen. Thanks for following up.

[2016-11-25 15:28] #218 closed

[2016-11-28 13:29] nidhir-systango opened #276 "squirrel events are not calling"
switch (process.argv[1]) {
     case '--squirrel-install':
     autoUpdater.createShortcut(function () { app.quit() })
     break
    case '--squirrel-uninstall':
     app.removeAsDefaultProtocolClient('onepgr-share')
     autoUpdater.removeShortcut(function () { app.quit() })
     break
    case '--squirrel-obsolete':
    case '--squirrel-updated':
     app.quit()
     break
    default:
   }

i

[2016-11-29 20:25] Siilwyn opened #277 "Content and navigation structure of the SPA"
Looking at the overall architecture I'd love to hear some of the motivation behind the decisions of the 'SPA architecture' especially the use of `<template>`'s and navigation interests me.

- What is the benefit of using the template tag if you put all of the content in it? As far as I could see it's useful for structure of HTML you do not want to render immediately, [like this](https://developer.

[2016-11-30 19:37] enrimr opened #278 "After crashing because of lack of free space on computer, the app only shows a white page."
* What operating system are you using? OSX 10.12.1
* What version of Node.js is on your system? 6.3.1

[2016-12-02 04:32] i2801 opened #279 "sudo npm i -g electron stop"
npm v4.0.3
node v6.9.1
------------------------------

now stopping...

[2016-12-02 10:14] MarshallOfSound commented on #279
* You shouldn't really install node modules with `sudo`.  It breaks things, fix the permissions of the folder rather than resorting to `sudo`
* You also shouldn't be installing `electron` globally as it messes with packages.

The issue of `node install.js` not terminating is normally caused by network issues, try disabling VPN's / proxies you may have running or trying a different network

[2016-12-02 10:14] #279 closed

[2016-12-03 00:42] linyi-xia commented on #274
I downloaded electron-api-demos-windows.zip and it just alerted me that trojan detected.

[2016-12-10 10:25] Anuj16 opened #280 "Getting errors while doing npm install for the demo app"
* What operating system are you using?
 Windows 8
* What version of Node.js is on your system?
6.9.2

[npm-debug.txt](https://github.com/electron/electron-api-demos/files/643675/npm-debug.txt)

[2016-12-10 14:59] kevinsawicki commented on #280
Are you able to run `npm install electron@1.4.12` by itself?

[2016-12-10 17:42] Anuj16 commented on #280
No, i am getting the exact same error.

[2016-12-10 18:12] kevinsawicki commented on #280
@Anuj16 can you include the output from running `npm install @electron@1.4.12`?

[2016-12-10 18:15] Anuj16 commented on #280
C:\Windows\system32\node_modules\electron\install.js:22
  throw err
  ^

Error: read ECONNRESET
    at exports._errnoException (util.js:1022:11)
    at TLSWrap.onread (net.js:569:26)
npm WARN enoent ENOENT: no such file or directory, open 'C:\Windows\system32\package.json'
npm WARN system32 No description
npm WARN system32 No repository field.
npm WARN system32 No README data
npm WARN system32 No

[2016-12-10 18:20] kevinsawicki commented on #280
It looks like your machine is having issues connecting to github.com where the Electron binaries are downloaded from. Are you using a proxy?

Are you able to download https://github.com/electron/electron/releases/download/v1.4.12/electron-v1.4.12-win32-ia32.zip directly?

Can you include the output of `npm config get proxy`?

[2016-12-10 19:01] Anuj16 commented on #280
No

No, it falis after saying network error after some time.

null

[2016-12-13 02:00] HudsonAfonso commented on #277
+1

[2016-12-14 11:05] nidhir-systango opened #281 "npm run installer not working"
i m working on windows 10
i want to create a build for windows , i was able to create a build and was also able to run installer but suddenly next day it gave following error:-

CoDesktop@1.0.0 installer C:\Users\admin\Downloads\New folder\new2\win_codesktop

Failed with exit code: 1
Output:
Attempting to build package from 'CoDesktop.nuspec'.
File not found: 'LICENSE'.

npm ERR! Windows_NT 10.0.1

[2016-12-14 11:25] vnsharma-systango opened #282 "electron app not running by electron ."
I am working on windows 10
Initially i was able to run app but suddenly next day when i am runing my app using "electron ."  it is giving following error:-

C:\Users\admin\Downloads\New folder\new2\win_codesktop>electron .
fs.js:549
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: ENOENT: no such file or directory, open 'C:\Users\admin\AppDa

[2016-12-16 09:00] nidhir-systango opened #283 "create desktop shortcut not working as expected"
Hi, i have copied your auto-updater code for crating shortcut but the name of the shortcut is taking as electron even if my app name is something specific.

main.js-
 switch (process.argv[1]) {
  case '--squirrel-install':
    autoUpdater.createShortcut(function () { app.quit() })
    break
  case '--squirrel-uninstall':
    app.removeAsDefaultProtocolClient('onepgr-share')
    autoUpdater.removeS

[2016-12-16 09:36] MarshallOfSound commented on #283
This isn't an issue with the API demos but I'll help ya out anyway 😆

Basically the shortcut name is generated from the metadata of the `.exe` file that you make, if you are using `electron-packager` you can set this metadata with this API option.

https://github.com/electron-userland/electron-packager/blob/master/docs/api.md#win32metadata

[2016-12-16 09:36] #283 closed

[2016-12-20 04:10] zeke commented on #282
What happens when you run `npm start`?

[2016-12-23 10:48] tiemevanveen commented on #251
I switched my electron project over to `electron-config` and it works great! I'm only [not entirely sure](https://github.com/sindresorhus/electron-config/issues/4#issuecomment-268971969) if it's fully meant to be used as a store rather than just for the occasional config.

[2016-12-23 12:12] teameh opened #285 "Split up tests a bit"
I think it's a good idea to split up `tests/index.js` into `tests/index.js` and a `tests/setup.js`. That way it's clear for new users what the setup and what the actual test code is, and it also allows them to copy paste the setup code into their own project for reuse.

Do you agree and would you like a PR for this?

[2016-12-23 18:05] zeke commented on #251
Thanks for you input, @tiemevanveen. For the purposes of this demo app (and probably most Electron apps), synchronously writing small configuration files to disk is not a concern. We're only saving a handful of things like "currently active menu" state, so writes don't occur very frequently.

While we're on the topic, I recently discovered https://github.com/nathanbuchar/electron-settings which lo

[2016-12-23 19:57] nathanbuchar commented on #251
@zeke, thanks for the shout out!

For what it's worth I wish I had made electron-settings simpler and without Promises but callbacks instead. electron-config is more or less what I wanted to do before I got a bit carried away, but the `observe` method in electron-settings is nice and can come in handy :) Atom's internal settings manager also has an `observe` method built in, which is what electron

[2016-12-24 03:26] zeke commented on #251
For what purpose are you using it?

That's what major versions are for! :)

[2016-12-24 20:44] MarshallOfSound commented on #251
Yeah, when I wrote my own Settings handler (back in the day) one of the only reasosn I did so is so I could add a "change" watcher.

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/src/main/utils/Settings.js#L35

Personally I use it for React purposes.  I have a wrapper component that on mount starts watching for settings changes and passes through the s

[2016-12-25 12:51] chenzhq commented on #280
I hava the same error. But my OS is Ubuntu(NodeJS in Windows is terrible)

[2017-01-03 04:31] MegaJ opened #286 "Exception on closing renderer process window"
Linux, elementary OS (Luna)
32 bit
Node v6.9.2

Replication steps:

A modal pops up telling of an error in create-window.js on line 9.

Stack trace:

Uncaught Exception:
Error: Attempting to call a function in a renderer window that has been closed or released. Function provided here: create-window.js:9:7.
    at BrowserWindow.callIntoRenderer (/usr/lib/node_modules/electron/dist/resources/electro

[2017-01-03 04:52] MarshallOfSound commented on #286
Without the relevant code it's hard to point at what is wrong but in general this error.

Means you have an event listener in a renderer process for an event in the main process (such as `remote.getCurrentWindow().on('closed')`) that is being called but the renderer process has been destroyed.  In general this pattern is a bad idea.  If you need an event from the main process you should listen for

[2017-01-04 01:02] MegaJ commented on #286
I might have miscommunicated. The code in question is in this repository, so you have the relevant code. The electron-api-demos has this error/behavior described above.

I appreciate the feedback and I'll go try out your suggestion on my own app! Since I'm new to electron I thought it might be good to structure my own code for window handling like how the api-demos is structured. I think it's like

[2017-01-11 14:38] enrimr commented on #278
I solved it removing folder ~/Application Support/Electron API Demos

[2017-01-11 22:58] zeke commented on #278
Glad you got it worked out. Thanks for following up.

[2017-01-11 22:58] #278 closed

[2017-01-20 08:07] xuchrist opened #287 "Automatic updates not remove previous version"
* What operating system are you using?  win10
* What version of Node.js is on your system? v7.2.1

[2017-01-20 08:25] MarshallOfSound commented on #287
@xuchrist This is to be expected on windows.  `Squirrel.Windows` leaves the last successful install as well as the current one so it has one to fall back to

[2017-01-20 08:25] #287 closed

[2017-01-20 14:05] mraak opened #288 "Errors in npm install on Windows 7"
E:\dev\projects\nodeprojects\electron\electron-api-demos>npm i

es\electron-chromedriver

E:\dev\projects\nodeprojects\electron\electron-api-demos\node_modules\electron-chromedriver\download-chro
medriver.js:16
  if (error != null) throw error
                     ^

Error: self signed certificate in certificate chain
    at Error (native)
    at TLSSocket.<anonymous> (_tls_wrap.js:1079:38)
    at

[2017-01-21 20:35] Siilwyn commented on #277
@simurai looks like you put up the most code, could you enlighten us? :)

[2017-01-22 01:27] emptist opened #289 "Please add some example loading local html to existing webview demo"
I've tried to find information in docs and from stackoverflow and found very little and am not so lucky to put it right to work.

Could you add some demo on how to load from local html and open devtools, etc. ?

[2017-01-23 23:15] simurai commented on #277
I was only involved with the styling, but if I recall correctly, we wanted to replace the content without reloading the page. So that it appears smoother. There would be many options by using a library like React, Vue etc. but the idea was to see if there is a way with "browser APIs" only. So `<template>`'s seemed to work out great.

Same with the styling, instead of using a preprocessor we just u

[2017-01-24 13:06] Siilwyn commented on #277
Thank you for your reply simurai! I'm still curious about the `<template>` details and how you would handle dynamic pages.

[2017-01-24 18:32] zeke commented on #277
Hi @Siilwyn. Thanks for your curiosity!

☝️  those were the two motivators for using `<template>` tags.

Building a site that uses `<template>` tags in conjunction with dynamically loaded content would be pretty straightforward. Here's a decent article that outlines a technique for doing just that: http://blog.teamtreehouse.com/creating-reusable-markup-with-the-html-template-element

[2017-01-28 15:28] Siilwyn commented on #277
Thank you @zeke and @simurai too of course! ^^

[2017-01-28 15:28] #277 closed

[2017-02-05 16:46] tomas-bareikis opened #291 "App does not restart after auto-update on mac"
I was trying to test the application auto-update feature:

1. I have downloaded "1.1.0" release of this application.
2. Started the application, opened the application menu and I saw text "Checking for update".
3. A pop-up appeared, saying "An update is ready to install. Electron API Demos is trying to add new helper tool" and asking for a password.
4. I type in my password. Then from the applicat

[2017-02-23 12:50] victorhsn commented on #289
Hi @emptist, What do you want to load from local? And if you want to open the devtools you can add at entry point file(eg: main.js) the following statement BrowserWindow.webContents.openDevTools().

;)

[2017-02-23 21:15] zeke commented on #289
@emptist your best bet is to probably start with the [electron/electron-quick-start](https://github.com/electron/electron-quick-start) app. It loads and HTML file from disk, and also has a section about enabling devtools.

Other resources to check out:

- [electron.atom.io/docs](http://electron.atom.io/docs) - all of Electron's documentation
- [electron.atom.io/community/#boilerplates](http://elec

[2017-02-23 21:15] #289 closed

[2017-02-23 22:15] chadbr opened #293 "Hey!"
There's no place to say "thanks" -- so I'll do it here.

This project is fantastic - thanks to whomever started / contributed to it.

I wish I had found it a few months back 👍

[2017-02-24 01:01] emptist commented on #289
Thanks and I've managed to use webview with local file.

[2017-02-24 01:28] groundwater opened #294 "Demo 1.6.x app in Mac App Store"
cc @zeke

[2017-02-24 02:07] zeke commented on #293
Thanks, @chadbr!

Here's the first commit: https://github.com/electron/electron-api-demos/commit/84fef597aed958fec3405daa6292aa05215063eb

And more contributors https://github.com/electron/electron-api-demos/graphs/contributors :)

[2017-02-24 02:07] #293 closed

[2017-02-24 04:00] zeke commented on #289
Nice. Thanks for following up. 👍

[2017-03-03 05:12] xiguaaxigua commented on #280
same error in Mac, but run `npm install` again save it.

[2017-03-04 22:36] binhnguyen1512 opened #295 "Hello"
* What operating system are you using?
* What version of Node.js is on your system?

[2017-03-05 00:40] #295 closed

[2017-03-07 20:53] zeke commented on #280
As noted above, the `ECONNRESET` error is indicative of a network problem. When you get this error, the best thing to do is try again later or use another network.

[2017-03-07 20:53] #280 closed

[2017-03-11 12:55] SimiyonAmulraj opened #297 "text"
* What operating system are you using?
* What version of Node.js is on your system?

[2017-03-11 12:56] #297 closed

[2017-03-28 21:47] zeke commented on #294
<img width="812" alt="screen shot 2017-03-28 at 2 38 23 pm" src="https://cloud.githubusercontent.com/assets/2289/24429039/42fdef7c-13c5-11e7-954c-21580e3de0e6.png">

<img width="812" alt="screen shot 2017-03-28 at 2 39 17 pm" src="https://cloud.githubusercontent.com/assets/2289/24429049/49ba1750-13c5-11e7-98f4-711fd498e241.png">

<img width="812" alt="screen shot 2017-03-28 at 2 41 25 pm" src="htt

[2017-03-28 21:47] zeke commented on #294
Current status: Waiting for the new build to be approved. Once that happens, it should show up in the above list of builds. Then we can select it and submit version 1.3.0 to MAS.

[2017-03-28 21:52] zeke commented on #294
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/1119345146/osx/versioninfo

[2017-03-28 22:11] zeke commented on #294
[code]

[2017-03-28 22:11] zeke commented on #294
https://github.com/electron/electron-api-demos/releases/tag/v1.3.0

[2017-03-29 06:55] nathanbuchar commented on #251
@MarshallOfSound @zeke

v3.0.0 is out :) drastically simpler and more dynamic. And of course, I kept the change watcher functionality!

[2017-03-29 14:16] rogercorrea opened #300 "Raspberry Pi"
* What operating system are you using?
* What version of Node.js is on your system?
The Electron is compatible with the Raspberry Pi and Raspbian OS?

[2017-03-29 18:14] zeke commented on #251
Nice. So it's synchronous by default now?

[2017-03-29 18:47] nathanbuchar commented on #251
It's only synchronous now. One of my gripes about <v3 was the technical headaches caused by asynchronous saving and promises. One common issue is that it's not unheard for a user to run `settings.set()` in two different places at the same time, and then run into conflicts and corrupted data. I suppose a solution would be to add some sort of queueing system, but that's going down quite a rabbit hol

[2017-03-29 19:44] zeke commented on #251
Cool. Do you have any interest in updating this demo app to use the new `electron-settings`? If not, no worries. I can get to it at some point.

[2017-03-29 20:38] nathanbuchar commented on #251
Yeah! I can take care of it. Thanks for the consideration :-)

[2017-03-29 21:54] #251 closed

[2017-03-29 21:56] zeke commented on #285
Yes 👍

[2017-03-29 21:57] #274 closed

[2017-03-30 22:08] zeke commented on #294
Those Apple Developer emails were being sent to an address that no human checks. This is now fixed, and the whole Electron team has access to future emails.

I'm going to publish a new build for review since any email for the last build is now lost in the ether. 🌀

[2017-04-02 09:32] neal1991 commented on #288
+1 A similar error when execute npm install, the OS is windows 10, the node version is 6.9.2
C:\Users\neal1\project\electron-api-demos\node_modules\.1.6.0@electron-chromedriver\download-chromedriver.js:16
  if (error != null) throw error
                     ^

Error: Generated checksum for "chromedriver-v2.21-win32-x64.zip" did not match expected checksum.
    at ChecksumMismatchError.Error (nati

[2017-04-02 09:39] mraak commented on #288
My solution was to install with this.
`
npm config set strict-ssl false`

[2017-04-03 07:45] enricjaen opened #303 "Error in nmp install on Ubuntu"
I get this error:

/home/enric/Downloads/electrondemo/electron-api-demos/node_modules/electron/index.js:9
  throw new Error('Electron failed to install correctly, please delete node_modules/' + path.basename(__dirname) + ' and try installing again')
  ^

Error: Electron failed to install correctly, please delete node_modules/electron and try installing again
    at Object.<anonymous> (/home/enric/

[2017-04-03 17:11] #303 closed

[2017-04-04 04:19] enricjaen commented on #303
same result. I reinstalled electron and I get same error

[2017-04-05 05:14] zosman1 opened #305 "Add notification example to demos"
Throughout the electron documentation there is no useable example for electron notifications, personally i think adding a notification example to the app would be very helpful to the electron community!

[2017-04-05 14:32] 50Wliu commented on #305
See #304

[2017-04-06 09:43] tonychen0716 opened #306 "APPCRASH on Windows 2008 SP2, thanks"
SHELL32.dll!GetCurrentProcessExplicitAppUse

错误应用程序 ElectronAPIDemos.exe，
版本 1.4.1.0，
时间戳 0x57e3afac，
错误模块 SHELL32.dll!GetCurrentProcessExplicitAppUse，
版本 6.0.6002.18005，
时间戳 0x49e03824，
异常代码 0xc0000139，
错误偏移量 0x0006f04e，
进程 ID 0x784c，
应用程序启动时间 0x01d2aebad08bca81。

[2017-05-05 06:01] simonkaspersen commented on #305
Notifications is now in the demo-application :)

[2017-05-05 15:10] #305 closed

[2017-05-05 15:13] zeke commented on #305
👍 Thanks again, @simonkaspersen

[2017-05-06 18:41] tylercollier opened #308 "Old node version in .node-version file"
* What operating system are you using? Ubuntu 14.04.5
* What version of Node.js is on your system? I'm using [nodenv](https://github.com/nodenv/nodenv), which respects the `.node-version` file in the project's root, which is currently set to 4.3.2.

I get this error when running yarn:

[code]

Using yarn in node 6.9.1 worked fine.

[2017-05-20 17:44] wangcunlu1 opened #310 "My node is broken, or what?"
![default](https://cloud.githubusercontent.com/assets/20310872/26278163/dd72f55e-3dc6-11e7-9d02-9c48e1e07e90.PNG)
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'installer' ]
2 info using npm@3.10.10
3 info using node@v6.10.2
4 verbose

[2017-05-20 17:51] Siilwyn commented on #310
It's because you execute `npm run installer` which in turn tries to run the not existing task `installer`. You can see the available tasks in the `package.json` scripts array or by executing `npm run`.

[2017-05-20 18:02] wangcunlu1 commented on #310
@Siilwyn
![default](https://cloud.githubusercontent.com/assets/20310872/26278291/85e9c454-3dc9-11e7-9369-e05d091dfd53.PNG)

[2017-05-20 18:08] wangcunlu1 commented on #310
@Siilwyn
![default](https://cloud.githubusercontent.com/assets/20310872/26278331/6aaebf22-3dca-11e7-88ce-061e3ea26563.PNG)

[2017-05-20 18:16] wangcunlu1 commented on #310
I Google
![default](https://cloud.githubusercontent.com/assets/20310872/26278370/61235282-3dcb-11e7-815e-112d37f408d3.PNG)
# **Still not solved**

[2017-05-20 19:00] Siilwyn commented on #310
There is still no `installer` script/task... You're probably confused with `npm run package:installer`.

[2017-05-20 19:30] wangcunlu1 commented on #310
@Siilwyn
Wow, I actually ignored the NPM run-script document. Thank you for your help. I finally got it.

[2017-05-20 19:33] #310 closed

[2017-05-22 20:04] simonkaspersen commented on #238
Is this still desirable to achieve? And if yes, some more thoughts?

[2017-05-23 16:07] zeke commented on #238
Yeah I still think this would be cool.

It would require registering a custom protocol handler: https://electron.atom.io/docs/api/protocol/

[2017-05-29 08:38] simonkaspersen commented on #238
I guess we should wait for #271 with the electron-fix?

[2017-05-30 19:50] zeke commented on #238
Yeah I think you're right. There's a WIP fix for it at https://github.com/electron/electron-api-demos/pull/275 that is waiting on https://github.com/electron/electron/pull/8052

[2017-06-07 01:50] Mike-Dax commented on #288
I am having the same error as @neal1991 on Windows 10

[2017-06-09 08:17] bysslord commented on #306
Does you solve the problem?

[2017-06-11 09:27] antelle commented on #288
Got the same error.
It happens because of this: https://github.com/malept/sumchecker/blob/master/index.js#L71
Temporarily fixed by replacing `'binary'` with `null` in sumchecker. I'm not sure if it's because of electron or sumchecker, here's an issue: https://github.com/malept/sumchecker/issues/7

[2017-06-11 14:09] jacktang opened #313 "Package mac app installer"
Hello,

I clone code from this repo and try to build mac installer by run `npm run package:mac`. It hangs and I don't where the building logs. The whole output:

[code]

* What operating system are you using?
macOS Sierra 10.12.5
* What version of Node.js is on your system?
v7.3.0

[2017-06-12 04:36] tonychen0716 commented on #306
no

[2017-06-12 04:36] #306 closed

[2017-07-30 14:07] sonimitesh opened #317 "unable to npm install for demo app"
* What operating system are you using? OSX
* What version of Node.js is on your system? tried with 4, 6, 7
while - npm install
below is the error on console
--------
electron-quick-start iMitesh$ npm install
npm ERR! Unexpected end of input at 1:17249
npm ERR! "directories":{},"dist":{"shasum":"02f574bfc533ae4c18776014a5070dced4
npm ERR!

[2017-07-30 14:36] sonimitesh commented on #317
issue resolved by following
npm cache clean --force
Thanks - however, can anyone tell me what causes this issue?

[2017-07-30 14:36] #317 closed

[2017-08-06 06:11] nascarsayan opened #319 "problem with node install"

[2017-08-06 06:18] nascarsayan commented on #319
npm install gives error. i have uploaded the npm-debug.log. Any help is appreciated.
[npm-debug.txt](https://github.com/electron/electron-api-demos/files/1202904/npm-debug.txt)

[2017-08-06 07:04] nascarsayan commented on #319
Problem with npm start. Can't figure out the reason. Any help is appreciated :-D
My log-file:

[code]

[2017-08-14 12:59] HeilTec opened #320 "Links to apple and Microsoft never last very long -"
* What operating system are you using? N/A (irrelevant)
* What version of Node.js is on your system? N/A (irrelevant)

![image](https://user-images.githubusercontent.com/2696244/29272035-a19f14b0-80fe-11e7-8efd-5e6be732410d.png)

Of the 3 links to documents of OS keyboard, only Linux is still viable

`<a class="u-exlink" href="https://developer.apple.com/library/mac/documentation/UserExperience/Co

[2017-08-28 14:54] firebird42 opened #321 "npm start fails"
* What operating system are you using? Ubuntu 16.04.2 LTS 64-Bit
* What version of Node.js is on your system? v7.10.0
I'm getting an error when running ```npm start```, "electron ." fails
[code]

[npm-debug.txt](https://github.com/electron/electron-api-demos/files/1257163/npm-debug.txt)

[2017-08-30 08:02] Pgyer opened #322 "npm intall error on Mac"
log：
`Error: connect ETIMEDOUT 54.231.120.35:443
    at Object._errnoException (util.js:1041:11)
    at _exceptionWithHostPort (util.js:1064:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1153:14)
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! electron-chromedriver@1.6.0 install: `node ./download-chromedriver.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the electron-c

[2017-09-02 20:57] C-Merrill commented on #321
I'm pretty new to this software as well, but it looks like your machine is building with node v4.2.6. I'm pretty sure that version is too old to properly build electron, so try deleting relevant node_modules, check/upgrade your global node version, and try again.

[2017-09-06 15:37] #321 closed

[2017-09-06 16:41] LeandroStanger opened #323 "Electron-api-demos Flatpak?"
* What operating system are you using? [Endless OS](https://endlessos.com/)

[2017-09-09 22:49] JamesKegel opened #324 "Window Events: Blur and Focus does not function as intended, blurring when losing focus."
* What operating system are you using?
Windows 10
* What version of Node.js is on your system?
8.4.0

Steps to reproduce:

1: Click Create & Manage Windows

2: Click Window Events: Blur and Focus

3: Click View Demo

4: Move green window aside

5: Focus parent window 'Window Events...'

6: reFocus green window

Neither window blurs when losing focus.

[2017-09-27 07:43] mxy2316868975javascript commented on #322
me too !

[2017-10-03 08:13] abelardolg opened #326 "Cannot read property 'BrowserWindow' of undefined"
* What operating system are you using?
MAC OS X 10.11.6 (15G1004)
* What version of Node.js is on your system?
8.2.1

I run this demo and all examples worked.

I copied the code of the first example ("create and manage windows") inside my "main.js" but it didn't work.
![captura de pantalla 2017-10-03 a las 9 41 19](https://user-images.githubusercontent.com/22522883/31115625-5ebe23ba-a823-11e7-85e1

[2017-10-05 17:12] AskKN commented on #218
Its very simple, go to your user folder in Windows. Then AppData. Then Roaming. Then delete the folder Electron API Demos. Its done. Go back to the folder of original binary Electron API Demos and open the Electron API Demos.exe app.

[2017-10-07 16:45] anazodo opened #327 "478 error Failed at the husky@0.14.3 install script 'node ./bin/install.js'."
* What operating system are you using?
Ubuntu 16.04 LTS
* What version of Node.js is on your system?
nodejs --version
v4.2.6

[npm-debug.log](https://github.com/electron/electron-api-demos/files/1366281/npm-debug.log)

[2017-10-07 16:47] anazodo commented on #327
I ran int this bug when I tried to build the Demo. I wanted to learn what the API is all about and how to use it. Is there any other way I can learn how use the API?

I see this file:
....Demos/node_modules/electron/install.js

but, from the log, it is looking for bin/install.js:

log has:
npm ERR! Linux 4.4.0-96-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.2.6

[2017-10-09 20:03] zeke commented on #327
Can you start in a fresh directory and show the commands you're using to get to this error?

You may also want to take a look at the [FAQ](https://github.com/electron/electron/blob/master/docs/faq.md#why-am-i-having-trouble-installing-electron) to make sure you're installing electron properly, and also make sure you're [npm permissions](https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-10-16 15:18] carlskii opened #329 "Renaming the example application"
I've been working through the examples in the electron-api-demo's app and have forked the repo in order to create my own example app. However, if I rename the (`  "productName": "Electron API Demos"`) in the package.json file the app does not load and throws the following error.

[code]

Which is referring to the following function in the nav.js file.

[code]

I can't seem to work out what going w

[2017-10-16 15:36] carlskii commented on #329
OK - I thing I worked it out the nav.js file was referring to `button-windows` element which I removed.

I could do with a quick explanation of what nav.js does though.

[2017-10-19 10:22] y489436672 opened #330 "How to make window Settings match the actual size"
* What operating system are you using?
win7  X64
* What version of Node.js is on your system?
v 8.4.0
When I created a new window, the actual size of the window was always about 1.25 times the size of the window, and I saw that the devicePixelRatio of the window was 1.25, which was generated after the release of the electron 1.4.16.How do I do that?

[2017-10-19 10:40] MarshallOfSound commented on #330
Closing as duplicate of https://github.com/electron/electron/issues/9560

[2017-10-19 10:59] #330 closed

[2017-11-05 09:04] kealarose opened #332 "Conduct"
* What operating system are you using?
* What version of Node.js is on your system?

[2017-11-20 17:01] rainonline opened #333 "wrong screen information in 4K screen"
* What operating system are you using?
* What version of Node.js is on your system?
<img width="801" alt="snipaste_2017-11-21_00-58-32" src="https://user-images.githubusercontent.com/16534596/33030880-7da2ec3e-ce57-11e7-9e78-e82ff1793285.png">
<img width="660" alt="snipaste_2017-11-21_00-58-56" src="https://user-images.githubusercontent.com/16534596/33030881-7dd7b0fe-ce57-11e7-9fb1-e2327228c5ba.pn

[2017-11-20 17:24] 50Wliu commented on #333
I can confirm this.  I am running at 1920x1080 resolution at 150% DPI but `size` only reports 1280x720.  Looks like it's not being multiplied by `scaleFactor`.

[2017-11-22 08:43] richard457 opened #334 "How to generate a setup installation steps like normal desktop when are being installed"
* What operating system are you using? window
* What version of Node.js is on your system?v6.11.4
Hello I know how to package app and generate .exe installation file but I have one remaining equation how  to generate a set up model that you click next to accept terms etc... just like normal desktop application how they are being installed. thank you any help tutorial or anything that can be of use

[2017-11-22 08:44] richard457 commented on #334
![Uploading Capture.PNG…](that is the example)

[2017-11-23 08:16] MidnightLady opened #336 "How to build this app to window app or mac?"
There is some script for building in package.json, how to use it?
I can only build with electron-builder.

[2017-12-02 15:22] #336 closed

[2017-12-15 19:40] juanefec opened #337 "if you drag drop urls on the window it takes you there"
* What operating system are you using?
* What version of Node.js is on your system?
Windows 10 , node 7.9.0

I though that u didnt realize but then i opened Postman to try it there but it didnt work so maybe its intended to be like this

[2017-12-15 19:58] marlboro15005 commented on #337
Could this be explained in an easier way to understand, so I know why I am receiving emails about this particular conversation?

[2017-12-19 07:58] kushalausula commented on #334
Use inno setup which is free.

[2017-12-19 08:01] shiftkey commented on #334
I would recommend looking at `electron-builder` and the options it supports - [NSIS](https://www.electron.build/configuration/nsis) seems to support various configuration options for the generated installer.

[2017-12-19 08:01] #334 closed

[2018-01-04 14:57] yanqi321 commented on #319
I met the same problem as you. Have you solved the problem？

[2018-01-04 23:07] marlboro15005 commented on #319
I’m able to read code

[2018-01-10 19:05] Clifra-Jones opened #338 "npm install issues"
* What operating system are you using?
Windows 10 64-bit
* What version of Node.js is on your system?
v8.9.4

Very disconcerting when I am very interested in using Electron that this demo just does not work for me. I get the following errors when executing npm install

npm WARN tar ENOENT: no such file or directory, open 'C:\Users\cwilliams\workspace\electron-api-demos\node_modules\.staging\optimi

[2018-01-11 12:35] shiftkey commented on #338
This seems to be a NPM issue rather than related to the app itself.

Could you try running a `git clean -xdf .` to cleanup the `node_modules` folder and then run `npm install` again?

[2018-01-11 14:03] Clifra-Jones commented on #338
no joy same errors.

[2018-01-11 14:25] Clifra-Jones commented on #338
More Info
NPM version 5.6.0

Centos 7.4:
cwilliams@BBIIUS.NET@bbii2370-nix electron-api-demos]$ npm installnpm ERR! Linux 3.10.0-693.11.6.el7.x86_64
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install"
npm ERR! node v6.12.2
npm ERR! npm  v3.10.10
npm ERR! code UNABLE_TO_GET_ISSUER_CERT_LOCALLY

npm ERR! unable to get local issuer certificate
npm ERR!
npm ERR! If you need help, you may report thi

[2018-01-11 14:45] Clifra-Jones commented on #338
OK fixed on Centos 7.4 with
npm set strict-ssl=false
(we have SSL intercept on our securioty devices. It sucks)

Still getting errors on Windows and Fedora.

The electron-quick-start works on wall platforms.

[2018-01-11 15:06] Clifra-Jones commented on #338
OK, now, sorry for all of this but I have tracted it down to our inline security device blocking some of the URL you are puloling code from. I will continue testing from my personal internet and not in my office.

This is much easier that trying to get the URLs unblocked.

[2018-01-11 15:06] #338 closed

[2018-01-14 10:46] d3z3l commented on #319
having same problem

[2018-01-22 02:06] MAinulYaqin opened #339 "can't install and run electron"
* What operating system are you using?
Ubuntu 17.04
* What version of Node.js is on your system?
node v8.9.1 and npm 5.5.1

when installing, it stuck at :

[code]
when i run ```electron .```
i getting this error :

[code]

[2018-01-22 02:10] shiftkey commented on #339
[code]

Can you try removing `node_modules` and attaching the result of `npm install`? Maybe some dependency is missing that Electron requires.

[2018-01-22 02:28] MAinulYaqin commented on #339
ok. wait

[2018-01-22 02:34] MAinulYaqin commented on #339
it's work :+1:   thanks sir, you saved me

there is written to delete ```node_modules/electron``` so i assume to delete electron folder inside of node_modules. -_-

[2018-01-22 03:26] #339 closed

[2018-01-29 12:50] DavZZar opened #341 "[Window Events: Blur and Focus] 'Focus on Demo' button is clickable even if the demo is in focus."
* **What operating system are you using?**

Windows 10 64-bit

* **What version of Node.js is on your system?**

Node.js v8.9.4

<br>

**Steps to reproduce:**

1. Go to section "Windows" -> "Create and Manage Windows" -> "Window Events: Blur and Focus"
2. Click on 'View Demo'
3. Move the resulting demo window aside such that the position of where the 'Focus on Demo' button would be is shown.
4. Wi

[2018-01-31 02:02] codebytere commented on #282
We haven't gotten a response to our questions in https://github.com/electron/electron-api-demos/issues/282#issuecomment-268149873. With only the information that is currently in the issue, we don't have enough information to take action. In this event, i'm going to go ahead and close this but can reopen should you follow up with more info!

[2018-01-31 02:02] #282 closed

[2018-01-31 14:02] codebytere commented on #337
Please explain more clearly what is happening in this issue.

[2018-01-31 14:11] codebytere commented on #326
If you look at the demos, you'll see that the header for that code says *Renderer Process* and thus should be put in `renderer.js`.

[2018-01-31 14:11] #326 closed

[2018-01-31 14:18] codebytere commented on #322
Are you sure you're not behind a corporate firewall?

[2018-01-31 14:30] codebytere commented on #320
Will be fixed by https://github.com/electron/electron-api-demos/pull/344

[2018-01-31 14:37] #308 closed

[2018-01-31 15:50] juanefec commented on #337
You execute the example and if you select a URL and draggit into the
electron example window it loads the URL that you dropped and for example,
you can browse YouTube... Just like a chrome tab would do.

On Dec 15, 2017 4:58 PM, "marlboro15005" <notifications@github.com> wrote:

[2018-01-31 16:59] codebytere commented on #337
We didn't specifically guarded against this, but thanks for bringing it to our attention!

[2018-01-31 16:59] #337 closed

[2018-01-31 18:02] codebytere commented on #285
Resolved by https://github.com/electron/electron-api-demos/pull/342

[2018-01-31 18:02] #285 closed

[2018-01-31 18:03] #329 closed

[2018-02-27 22:39] dhanish2k opened #350 "Window Events: Focus and Blur demo is empty"
* What operating system are you using?
Ubnutu 16.04
* What version of Node.js is on your system?
v8.9.4

This demo is empty. When I click on the view demo, an empty window with menu appears with no buttons.

[2018-02-28 11:09] Baonui9999 commented on #238
เภน

[2018-02-28 17:20] eddyizm opened #351 "Error running api demp app."
* What operating system are you using?
Microsoft Windows 7 [Version 6.1.7601]
* What version of Node.js is on your system?
v8.9.4

## errors from terminal

C:\Users\ecervantes\source\repos\electron-api-demos>npm install
npm WARN tar EPERM: operation not permitted, open 'C:\Users\ecervantes\source\re
pos\electron-api-demos\node_modules\.staging\spectron-728fc1ed\bin\launcher.exe'

npm ERR! cb() nev

[2018-02-28 20:43] zeke commented on #238
?

[2018-03-10 01:21] pray2008 opened #352 "Not support async and await!!!!Chrome not support it."
Not support using async and await!!!! the google chrome does support it, but the electron chrome not support it

[2018-03-10 01:31] MarshallOfSound commented on #352
Electron has supported `async/await` natively for a while, please ensure you are running the latest Electron 👍

[2018-03-16 15:06] #352 closed

[2018-03-16 15:07] #320 closed

[2018-03-16 15:09] codebytere commented on #319
@nascarsayan as a first check, did you try updating Node to a more recent version? `v6.11.2` is rather old now.

[2018-03-16 15:09] codebytere commented on #322
We haven't gotten a response to our questions in our comment. With only the information that is currently in the issue, we don't have enough information to take action. In this event, i'm going to go ahead and close this but can reopen should you follow up with more info!

[2018-03-16 15:09] #322 closed

[2018-03-16 15:10] codebytere commented on #327
We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. In this event, i'm going to go ahead and close this but can reopen should you follow up with more info!

[2018-03-16 15:10] #327 closed

[2018-03-16 15:11] codebytere commented on #288
Does this still occur on recent versions?

[2018-03-17 03:58] yanqi321 commented on #319
thanks，The problem has been solved， try cnpm instead of change its registory, but i still unable to understand its principle

[2018-03-19 09:03] andreacw5 commented on #351
This error is generated by npm not by this app.
See that page for help: [npm ERR cb() never called](https://stackoverflow.com/questions/15393821/npm-err-cb-never-called) or see npm issues on github [here](https://github.com/npm/npm/issues/17839).
 I hope this will help you.

[2018-03-20 21:44] eddyizm commented on #351
Thanks for your reply. I'm not very familiar with npm so that makes sense. :-)

[2018-03-20 21:44] #351 closed

[2018-03-21 14:03] codebytere opened #354 "Crash on open app about"
* What operating system are you using? MacOS 10.13.3
* What version of Node.js is on your system? `v9.8.0`

Opened the app with the latest version of `electron` on `master` at `37eccbcd33bdfa81d41a8528688f8255db365360` and clicked `about`, immediately crashed with the following:

<details>

[code]

</details>

[2018-03-21 14:30] #350 closed

[2018-03-22 15:24] localsystemmee commented on #271
A

[2018-03-23 22:45] codebytere opened #357 "Update to 2.0.0"
Update to `2.0.0` when it goes stable

[2018-04-10 20:10] mokhosh commented on #333
same here. i'm running on 4k and it says you're screen is 1536px x 864px.
i'm a bit offended to be honest.

[2018-04-10 20:15] mokhosh opened #358 "Notification not working on win10"
windows 10
node 9.3.0

nothing happens when i click `view demo` of either notification demos.
i checked my notification settings to see if i have blocked any app but the main notification option is active and all available apps are active as well. although i don't see api-demos or my browsers in this list.

[2018-04-12 05:26] Viarotel opened #359 "If there are more versions of the language, it will be good"
I hope to have a Chinese version

[2018-04-12 07:28] timfish commented on #359
There are already [these Chinese translations](https://github.com/electron/electron-api-demos#translations).

[2018-04-22 09:56] Nditah commented on #288
**# Error on Starting Electron-Api-Demos**

PS C:\Users\UserPC\Project\Electron\electron-api-demos> npm start

C:\Users\UserPC\Project\Electron\electron-api-demos\node_modules\electron\index.js:9
  throw new Error('Electron failed to install correctly, please delete node_modules/electron and try installing again')
  ^

Error: Electron failed to install correctly, please delete node_modules/electro

[2018-05-04 01:53] yuzhidi opened #362 "sh: electron: command not found"
npm run dev

sh: electron: command not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! ElectronAPIDemos@1.3.0 dev: `electron . --debug`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the ElectronAPIDemos@1.3.0 dev script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above

[2018-05-04 02:01] #362 closed

[2018-05-04 20:02] raxityo opened #363 "Crash when removing the Tray icon"
* What operating system are you using? macOS _High_ Sierra `10.13.4`
* What version of Node.js is on your system? Reproduced in `v8.9.3` and `v9.11.1`
* What is the version of `electron-api-demos`?  Reproducible in master @ d9005b34890686577bb81ee22d994e360f969dc1

## Steps to reproduce:
1. `npm start`
1. Go to _"Put your app in the tray"_ sub section under _"Native User Interface"_ section.
1. Cl

[2018-05-06 15:48] moriciogithub opened #364 "Can not install in ubuntu 16.04 ARM64 on Odroid64"
* What operating system are you using?
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

Linux **odroid64** 3.14.79-117 #1 SMP PREEMPT Tue Jan 2 23:46:30 BRST 2018 aarch64 aarch64 aarch64 GNU/Linux

**arm64**

* What version of Node.js is on your system?
v8.11.1
* What version of npm is on your system?
5.6.0

Error message in log file:

2273 verbose stack Erro

[2018-05-07 19:00] codebytere commented on #363
@raxityo seems to be failing a DCHECK here:
[code]

i'll keep digging.

[2018-05-07 20:36] #357 closed

[2018-05-07 23:30] codebytere commented on #359
Given the comment above, i'm going to go ahead and close this.

[2018-05-07 23:30] #359 closed

[2018-05-10 08:14] canfeit opened #366 "checkForUpdate Menu status cannot be changed"
https://github.com/electron/electron-api-demos/blob/f0b0b38aa72201569c311b2901cac26601cf53f6/auto-updater.js#L50

 Electron `Menu.getApplicationMenu`  Excluding `visible = false`'s MenuItem，`item.submenu.items.forEach` can't get/modify `key=checkForUpdate` `key=restartToUpdate` MenuItem

[2018-05-24 09:07] okwh opened #371 "Display nothing inside window?"
Win 7,   win2008
Node.js is on your system?  8.11.2
v1.3.0 release  electron-api-demos-windows.zip   run OK,
but nothing display inside window (main menus OK) when I run :  npm start  for source.

? maybe thers are not the font  like     font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

![nodisplay](https://user-images.githubusercontent.com/31085927/40

[2018-06-10 03:09] miracllife opened #373 "hi,"
* What operating system are you using?
* What version of Node.js is on your system?
hi ,  i m fresh man at electron, is where any wechat groups or  qq groups, where we can discus?

hoping for pull me in

[2018-06-10 11:59] zeke commented on #373
Hello. Take a look at https://electronjs.org/community to find the various ways you can get involved in the project.

[2018-06-10 11:59] #373 closed

[2018-06-29 02:47] salmanalshehri opened #374 "Cydia"
* What operating system are you using?
* What version of Node.js is on your system?

[2018-06-29 02:47] salmanalshehri commented on #374
Cydia 11.2.1

[2018-07-03 22:22] jsejcksn opened #375 "Cannot package app using Node >=10.0.0"
**macOS:** 10.13.5
**Node:** 10.4.1

See [electron-packager#831](https://github.com/electron-userland/electron-packager/issues/831#issuecomment-402294330).

[2018-07-03 22:45] mikeliucc opened #377 "Any chance of updating to newer version of chromium?"
* What operating system are you using?

I'm using both Mac High Sierra and Windows 10

* What version of Node.js is on your system?

Hi, I'm working on automating an in-house electron app. As a practice (and waiting for development to finish), I thought I'd try things out with the awesome Electron API Demo.  I'm using Selenium 3/Java. So far so good.

Recently I have just updated to a newer versio

[2018-07-03 22:49] MarshallOfSound commented on #377
@mikeliucc You shouldn't be using the normal chromedriver, rather the binaries we ship in the `electron-chromedriver` package.  Otherwise you will find incompatibilities like this.

[2018-07-03 22:49] #377 closed

[2018-07-04 04:03] mikeliucc commented on #377
Thank you for your reply.

Looks to me that electron-chromedriver is a node module. Is there something suitable for other languages, such as Java?

[2018-07-04 04:10] MarshallOfSound commented on #377
@mikeliucc `electron-chromedriver` literally is just a downloader for the chromedriver's we build and ship with our releases.

E.g. See the `2.0.0` release --> https://github.com/electron/electron/releases/tag/v2.0.0

There is a chromedriver zip file for every platform/arch we support

[2018-07-04 06:57] mikeliucc commented on #377
ah.. got it!

I tried with the chromedriver from 2.0.4, and it works great! Thank you!!!

[2018-07-04 06:58] marlboro15005 commented on #377
Unsub

On Wed, Jul 4, 2018 at 2:57 AM automike <notifications@github.com> wrote:

[2018-07-10 19:51] tobiasgraeber commented on #358
same here, node v8.9.1

[2018-07-12 15:13] #375 closed

[2018-07-19 17:49] zeke opened #382 "Revamping the release process"
@codebytere and I cut a new release today! https://github.com/electron/electron-api-demos/releases/tag/v1.4.0

Here's some followup work we need to do:

- decommission old update server
- remove update server deployment stuff from demo release process
- remove update server deployment stuff from demo release docs
- release a new version and see if udpate.electronjs.org server is working
- switch t

[2018-07-24 21:01] zeke opened #385 "CLI doesn't work yet"
So, #378 landed and I published the module to npm:

[code]

But the new CLI doesn't work because `electron` is currently a `devDependency`:

[code]

So the question is: should we move `electron` (and probably some other deps too) into `dependencies` to make this work? I wonder what effect this would have on the packaged version of the app.. :thinking:

@codebytere @MarshallOfSound

[2018-07-24 22:38] MarshallOfSound commented on #385
`electron-packager` will strip the `electron` module from the packaged app even if you put it in `dependencies` so it should be ok to put it there if you want it to be `npm` installable

[2018-07-24 23:10] malept commented on #385
This is true, however Packager will [also emit a warning](https://github.com/electron-userland/electron-packager/blob/cff971345b0aaef875361fa0ca5d06a297367d03/prune.js#L46-L49) because it's not the Recommended Way:tm: :smile:

[2018-07-31 11:41] Spektremouse commented on #358
same issue on node v8.11.3

[2018-08-02 14:43] codebytere commented on #382
- [x] remove update server deployment stuff from demo release process
- [x] remove update server deployment stuff from demo release docs

have been completed!

[2018-08-02 19:28] zeke commented on #382
☝️ #387

[2018-08-05 11:55] saxc opened #388 "Shows an error by App Start "A JavaScript error occurred in the main process""
* What operating system are you using?
macOS 10.13.6

* What version of Node.js is on your system?
V8.11.3

By starting the app is directly shows an Error Message.
Application Version V1.5.1 (electron-api-demos-mac.zip).

![error](https://user-images.githubusercontent.com/7613585/43685621-b135f378-98b6-11e8-8bd7-672b0bcf3ed1.png)

[2018-08-10 08:37] yangjunfocus opened #389 "Cli npm run package ,prompt need enter password?"
* What operating system are you using?
windows 10
* What version of Node.js is on your system?
node v8.10.0

[2018-08-10 08:49] Nekores commented on #389
I am using macOS High Sierra Version 10.13.6 (17G65)
Node Version is 10.7.0

I have installed it with the same way and it is working perfectly on my end.

Lemme know if i can help you any?

[2018-08-12 13:38] Jianan-Li commented on #388
Seeing the same error here with Application Version V1.5.1 (electron-api-demos-mac.zip).

- What operating system are you using?
macOS 10.14 beta

- What version of Node.js is on your system?
v10.7.0

[2018-08-15 05:55] yangjunfocus opened #390 "yarn run package:mac"
* What operating system are you using?
Windows
* What version of Node.js is on your system?
v8.10.0

` yarn run package:mac
yarn run v1.9.4
$ electron-packager . --overwrite --platform=darwin --arch=x64 --out=out --icon=assets/app-icon/mac/app.icns --osx-sign.identity='Developer ID Application: GitHub' --extend-info=assets/mac/info.plist
Cannot create symlinks (on Windows hosts, it requires admin

[2018-08-15 13:26] MarshallOfSound commented on #390
macOS app packages internally have a bunch of symlinks, windows does not support symlinking in the way that POSIX systems (including macOS) do so you can't package mac apps on windows.

[2018-08-15 13:26] #390 closed

[2018-08-20 16:03] majorcode commented on #388
Seeing the same error here with Application Version V1.5.1 (electron-api-demos-mac.zip).

What operating system are you using?
macOS 10.13.6

What version of Node.js is on your system?
v10.9.0

[2018-08-22 08:08] bingyun123 commented on #389
Hello Nekores,
run  command : npm run package:sign-exe

![image](https://user-images.githubusercontent.com/30248969/44451152-7911a380-a625-11e8-9033-96a0f4a39fbe.png)
@Nekores   @yangjunfocus

[2018-08-22 19:48] codebytere commented on #385
@zeke i believe this can be closed with the latest release?

[2018-08-22 20:27] zeke commented on #385
Does `npx electron-api-demos` work for you?

I see this:

[code]

...but it happens so fast that I think it must be cached. I don't immediately see how to clear the npx cache.

[2018-08-22 20:29] malept commented on #385
`npx --ignore-existing electron-api-demos` doesn't work either 😕

[2018-08-23 08:39] BeyondChallenge commented on #358
same issue ,win10, node v8.11.1

[2018-08-23 14:10] malept commented on #385
Ah, 1.5.1 hasn't been released to NPM.

[2018-08-23 16:44] codebytere commented on #385
@malept whoops haha i'll take care of that today!

[2018-08-25 15:46] shahenx opened #394 "ss_maram"
* What operating system are you using?
* What version of Node.js is on your system?

[2018-08-25 15:47] #394 closed

[2018-08-27 19:10] BSVogler commented on #388
Also had an issue. Second run worked.

[2018-09-20 15:27] kunyapatcharin222 opened #395 "M"
* What operating system are you using?
* What version of Node.js is on your system?

[2018-09-23 17:34] #395 closed

[2018-09-23 17:35] codebytere commented on #385
It does now!

[2018-09-23 17:35] #385 closed

[2018-09-23 17:35] #374 closed

[2018-09-23 17:37] codebytere commented on #389
Users of this repo cannot package it themselves as it requires our signing certs. You are, however, welcome to run it from the command line with `npx electron-api-demos` or `npm i -g electron-api-demos`.

[2018-09-23 17:37] #389 closed

[2018-09-23 17:37] #281 closed

[2018-09-23 17:38] #286 closed

[2018-09-23 17:40] codebytere commented on #313
This should be resolved on more recent versions.

[2018-09-23 17:40] #313 closed

[2018-09-23 22:32] zeke commented on #385
🤘 Thanks for following through on this @codebytere

[2018-09-28 14:08] dajomu commented on #388
Did you have to allow the application to run first? It seems like something to do with that affects the process and causes it to crash, but on the next run it is fine.

[2018-09-28 15:51] BSVogler commented on #388
Probably.

[2018-10-06 09:44] saxc commented on #388
What operating system are you using?
macOS 10.14

What version of Node.js is on your system?
V10.11.0

I have test this again by a newer os and node version.
For the first open i must right click and click on open, confirm the popup Window for start the application. The error message com up.

After then i can start the Application by double click or right click -> open. Always is showing the Error

[2018-10-24 16:08] codebytere commented on #354
Fixed in latest version.

[2018-10-24 16:08] #354 closed

[2018-10-26 16:59] GiantZOC opened #398 "Drag and Drop demo causes hard crash with npm start"
I am running Ubuntu 18.04 and node.js 10.8.0.  When I run the application with npm start I get a hard crash when I attempt to drag and drop from the native-ui drag demo.  The drag action looks like a black box.  I was interested in troubleshooting the issue and noticed that it works correctly when running with the Debugger for Chrome extension in VS Code.

![image](https://user-images.githubuserco

[2018-11-02 20:31] codebytere commented on #238
Implemented!

[2018-11-02 20:31] #238 closed

[2018-11-05 13:41] CaulyKan opened #401 "path is not defined during load (macos)"
* What operating system are you using?
macOS 10.14.1
* What version of Node.js is on your system?
Node.js 10.2.0, Chromium 66.0.3359.181, and Electron 3.0.7.
* How to reproduce
[code]
* Workaround:
Add `const path = require("path");` to main-process/system/protocol-handler.js

[2018-11-05 19:11] balintbalazs commented on #401
I also got the same issue on Windows 10. Same workaround fixed it.

[2018-11-06 04:39] #401 closed

[2018-11-07 10:45] suraj9793 commented on #358
can somebody look into this? Having trouble figuring this one.

[2018-11-07 13:37] suckballz99 opened #403 "+suckballz99@gmail.com"
* What operating system are you using?
* What version of Node.js is on your system?

[2018-11-07 13:37] suckballz99 commented on #403
+suckballz99@gmail.com

[2018-11-07 13:37] suckballz99 commented on #403
+suckballz99@gmail.com

[2018-11-07 13:37] suckballz99 commented on #403
+suckballz99@gmail.com

[2018-11-07 13:37] suckballz99 commented on #403
+suckballz99@gmail.com

[2018-11-08 14:13] dinaelhanan commented on #371
I wonder if adding another font to that list means that it would choose that instead of the others? Definitely want to work on this

[2018-11-08 14:16] shiftkey commented on #371
Given that nothing is being rendered, I wonder if this is a hardware acceleration issue.

@okwh when running from source are you able to add `app.disableHardwareAcceleration()` just after this line and see if that changes the behaviour?

https://github.com/electron/electron-api-demos/blob/3a978054c38cfba89f09525a23a74f282280e6e0/main.js#L10

[2018-11-08 14:16] shiftkey commented on #371
`sans-serif` as the fallback font is one that all browsers should recognise. I don't believe this is related to fonts.

[2018-11-08 14:20] dinaelhanan commented on #371
@shiftkey ok thanks.

[2018-11-19 01:49] zhangxy1035 opened #405 "how to use crashReporter"
I want to use electron crashReporter to Collect errors locally,I saw the electron api,but i do not know how to use it.

[2018-11-19 03:12] MarshallOfSound commented on #405
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-11-19 03:12] #405 closed

[2018-11-19 03:14] zhangxy1035 commented on #405
ok,thinks,i got it

[2018-11-21 16:51] codebytere commented on #388
Should be fixed in latest release.

[2018-11-21 16:51] #388 closed

[2018-12-20 16:27] medbenchohra opened #408 "Installing demos without installing Electron"
* What operating system are you using? --> Windows 10 October Update
* What version of Node.js is on your system? --> 8.12.0

Hello, I already installed Electron using the "**`-g`**" option, my question is how can I let the "**`npm install`**" command ignore redownloading and installing Electron all over again.

[2018-12-29 06:57] jamzi commented on #398
Happened to me too, I think it has to do something with a version of Electron.
If I used version 3.0.3 it would crash on Linux Mint (Debian based). If I used the last minor version (3.0.13 at the time of writing this), it works fine.
Hope it helps.

[2018-12-29 07:15] jamzi opened #409 "Take a screenshot crashes on Linux"
* What operating system are you using?
Linux Mint 19 (Cinnamon)
* What version of Node.js is on your system?
10.14.2

![image](https://user-images.githubusercontent.com/2678290/50534736-7843cd80-0b41-11e9-97d2-d8a5f101b0a5.png)

This happens when I run the app with yarn start and click on View demo under "Take a Screenshot". Wanted to debug this, but couldn't attach debugger in desktop-capturer.js

[2019-01-05 01:30] linrx1511 commented on #358
same issue on node v8.11.4 + win10

[2019-01-05 13:44] digitalberry-ahmed commented on #358
check this
https://github.com/electron/electron/issues/10864

[2019-01-08 21:48] BinaryMuse opened #412 "Update release script once GitHub asset upload bugs are fixed"
See https://github.com/github/github/issues/104993 and https://github.com/github/github/issues/45263

[2019-01-14 19:15] mandylatson commented on #412
Only1life2live4solove@gmail.com Mandy Latson

[2019-01-25 16:53] dfeinzeig commented on #409
Also on Windows 10 [Pro]

[2019-02-08 03:15] sillyjims opened #413 "TypeError: app.makeSingleInstance is not a function"
* What operating system are you using?
MacOS
* What version of Node.js is on your system?
node v10.15.1

npm start

[11:02:41.359] [info] update-electron-app config looks good; aborting updates since app is in development mode
App threw an error during load
TypeError: app.makeSingleInstance is not a function
    at makeSingleInstance (/Users/jims/Documents/gitproject/electron-api-demos-Zh_CN/main.

[2019-02-10 08:36] Chococoin commented on #300
Waiting for a response in this thread too.

Thank you!

[2019-02-15 11:07] ThaYoMin opened #414 "Uncaught ReferenceError: require is not defined"
* What operating system are you using?  Win 10
* What version of Node.js is on your system?  5.6.0

In the file nav.js at the first line:
`const settings = require('electron-settings)`
prompts "Uncaught ReferenceError: require is not defined" when executed the program.

How can this be solved?
Thanks in advance

[2019-02-16 18:58] neminovno opened #415 "Would be great if code examples can be selected (for copy paste)"
* What operating system are you using?
Windows 7
* What version of Node.js is on your system?
v10.15.0

![image](https://user-images.githubusercontent.com/1468887/52903911-ef820d80-3224-11e9-8ad7-b6e7c9596e95.png)

[2019-02-25 06:02] moyee commented on #358
the save
win10
electron 4.0.1
node 8.12.0

[2019-02-25 07:19] moyee commented on #358
app.setAppUserModelId('com.yourcompany.yourapp')
这样可以临时解决

[2019-03-22 14:54] topdown commented on #415
It's the same on Mac, can't select code.

[2019-04-13 21:36] abelardolg opened #417 "Notification with image...without it."
* What operating system are you using? Ubuntu 18.10
* What version of Node.js is on your system? 10.15.3
Demo: notification with image...doesn't show it.

[2019-04-17 20:05] rhasce opened #418 "1 vulnerability"
latest npm on latest Manjaro all freshly installed today.

Says there is one vulnerabilty and I cannot do the npm install because of it, that is a shame :(

it is low: Regular Expression Denial of Service

[2019-04-20 01:16] mvmthecreator commented on #418
its in the braces package. have you solved it?

[2019-04-24 14:34] changdy opened #420 ""Desktop notifications" does not work with Windows 10 10.0.17763.437"
hello，my friends，i got some troubles.
Desktop notifications does not work on my computer.
I read some issues from 'electron',and found that this may be a common problem.
I would like to submit some details，and we can solve this problem.
I tried the  following ways:
* `npm start` the project
* download the `ElectronAPIDemosSetup.exe`,and installed it,then open it

but both does not work , and I fou

[2019-04-26 14:52] Piliponful commented on #413
Hay, same issue here. Is anyone cares? Is this project have any support?

[2019-04-26 14:54] berrylaw commented on #413
Sorry I give up
Don’t count me thank

「piliponful <notifications@github.com>」在 2019年4月26日 週五，下午10:53 寫道：

[2019-04-26 14:56] codebytere commented on #413
hey @Piliponful, I'll address this today.

[2019-04-26 15:01] #413 closed

[2019-04-26 15:05] Piliponful commented on #413
Thank you

[2019-04-26 23:24] laoshaw opened #421 "electron 5.0 support?"
newbie here and how to get this demo working with electron 5.0?

[2019-04-27 16:13] laoshaw commented on #421
I just updated the package.json to electron 5.0.0 and it seems work fine

[2019-04-29 10:29] BenjaminHoegh opened #422 "HTML Imports is deprecated and will be removed in M73"

[2019-05-17 20:15] nprz commented on #413
Also might want to note `makeSingletonInstance` was deprecated in electron v4, it's now required that you use `requestSingleInstanceLock` [instead](https://electronjs.org/docs/all#appmakesingleinstance).

[2019-05-20 20:51] saurabh21289 commented on #420
Looks like a known issue with a work-around suggested here: https://electronjs.org/docs/tutorial/notifications#windows
Have you had any luck with this approach?

[2019-05-21 00:54] changdy commented on #420
@saurabh21289
no,it does not work;
I use `electron-builder` to solve this;
Thank you.

[2019-06-13 18:36] o1dnik commented on #422
@BenjaminHoegh do you have an example how to use ES modules instead of soon deprecated HTML imports with `<link rel="import" ... >` ?

[2019-06-22 06:10] kedar-joshi commented on #418
The vulnerability comes from a package called (check-for-leaks)[https://github.com/zeke/check-for-leaks] which hasn't been updated for two years.

[2019-06-24 18:11] JohnMLarkin commented on #414
The default setting for nodeIntegration changed from true in versions of Electron prior to 5 to the false.  When creating a BrowserWindow you now need to add the option webPreferences: {nodeIntegration: true}.  This change was made in electron-api-demos at https://github.com/electron/electron-api-demos/commit/419b57b03d15e65332c516b798cbb2a83548ec6c.

[2019-06-25 06:46] ThaYoMin commented on #414
Thank you so much.

[2019-06-25 06:46] #414 closed

[2019-06-26 03:58] #418 closed

[2019-07-03 23:03] hak33m16 commented on #422
Does anyone have a solution to this huge issue? Every single Electron example that utilizes more than a single page is entirely dependent on this functionality. Are we stuck having to learn how to incorporate external UI frameworks into Electron instead? If that's the case, it would be nice if there were at least some examples for it from the Electron devs themselves.

[2019-07-04 01:59] codebytere commented on #422
The above is somewhat inaccurate per the [link](https://www.chromestatus.com/features/5144752345317376)

We're on M76 in `master` at present, so consumer apps won't be affected until perhaps ~april 2020 when Electron will likely. with M80.

[2019-07-04 06:32] o1dnik commented on #422
@codebytere em... actually for me the text by the link you provided says "HTML Imports are deprecated at M70, and will be removed in M75, around Jun 2019. For more info: https://groups.google.com/a/chromium.org/d/msg/blink-dev/h-JwMiPUnuU/sl79aLoLBQAJ"...  🤔  From their group summary:

But it also seems they're delaying the removal so there's a mismatch. But it will break soon anyway.

[2019-07-17 09:34] yueyou16 opened #431 "We use electronic to package web applications into desktop applications. Is it compatible with Internet explorer's ActiveX plug-in"
We have a video project, and we need the ActiveX plug-in of IE browser. We use Electron to package the web application into a desktop application. Is it compatible with the ActiveX plug-in of IE browser

[2019-07-17 09:40] #431 closed

[2019-07-20 07:28] paul321 opened #432 "HTTP headers are not available anymore in DevTools Network tab"
Hi,
We have a problem with version 4 and 5 of Electron, for ajax requests there are no headers available for requests, we want to see what headers are sent to remote server but it's not working anymore, the error we get is: Provisional headers are shown

Here is a screen shot with a fresh electron download, same thing happens with our app, this happens on Windows and Mac, Electron version 5.0.7 an

[2019-07-29 23:53] siriwan17 opened #433 "new issue"
* What operating system are you using?
* What version of Node.js is on your system?

[2019-07-30 00:19] #433 closed

[2019-07-30 00:35] siriwan17 commented on #433
What it happen.

[2019-07-31 10:15] vinothd07 commented on #300
how to run this files in raspberry pi

[2019-08-27 03:24] varshakhandre14 commented on #300
Waiting for the response.

[2019-10-25 03:11] baash05 commented on #422
Array.from(document.getElementsByTagName('link')).forEach(item => {
    if(item.rel === 'import'){
      fetch(item.href).
      then(response => { if(!response.ok) throw Error(response.statusText); return response.text() }).
      then(text => {
        const div = document.createElement('replaced')
        item.parentNode.replaceChild(div, item);
        div.innerHTML = text
      }).
      catc

[2019-11-09 06:49] kavindyasinthasilva commented on #421
An awesome new release

[2019-11-22 06:17] HeiShanLaoYao889 opened #440 "无法下载安装包啊"
链接被代理了,无法下载

[2019-11-22 06:41] codebytere commented on #440
This translates to:

Can you explain your issue more?

[2019-11-22 09:54] HeiShanLaoYao889 commented on #440
[`https://github-production-release-asset-2e65be.s3.amazonaws.com/44402056/c2872600-1288-11e9-98fd-0c8ad076a842?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20191122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20191122T095421Z&X-Amz-Expires=300&X-Amz-Signature=a9b00ce71be4e05fd89b629c3d979f0f25e94e9fe3f32989ff2bd676fd10d0a0&X-Amz-SignedHeaders=host&actor_id=24189898&resp

[2019-11-22 18:28] #440 closed

[2019-12-09 18:39] Ornataweaver opened #443 "Add a dark theme (Feature Request)"
We are developers, there should always be a theme for sensitive eyes.

[2020-01-14 03:11] wencyGit opened #444 "How to set file: / / local cookie"
- I use mac system
- I use node v12.13

- The app I packed is a local page. How can I write if I want to set file: / / cookie?
- It's said on the Internet that Google browser -- enable file cookies should be set, so how to set electronic

[2020-02-08 18:42] Dahkenangnon commented on #422
How about using   **w3-include-html attribute** ? from
https://www.w3schools.com/howto/howto_html_include.asp

[2020-02-17 09:38] petervandeput opened #446 "How to build for distribution?"
* What operating system are you using? Mac OSX
* What version of Node.js is on your system? 13.8

In the package.json are various scripts like package and package:mac

What's the process for building the application for mac and windows?

[2020-03-14 14:30] enricovittorini opened #448 "Clarificaton on nav"
* What operating system are you using?
windows
* What version of Node.js is on your system?

i have created the following cose in ./assets/test.js
[code]

At the beginning of the ./assets/nav.js i put the following line
`const t = require('./assets/test.js')`

when I run the app (npm start) in app debug console i have:

**Uncaught Error: Cannot find module './assets/test.js'**

My goard is to call

[2020-03-14 17:31] codebytere commented on #448
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.

Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://di

[2020-03-14 17:31] #448 closed

[2020-03-29 23:06] mateuszroszkowski opened #449 "npm install results in typeerror"
* What operating system are you using? Ubuntu 18.04
* What version of Node.js is on your system? v8.10.0
[npm-debug.log](https://github.com/electron/electron-api-demos/files/4400066/npm-debug.log)

[2020-03-29 23:07] #449 closed

[2020-04-01 15:45] Moonie68 commented on #147
Hey, is it alright if I modify the Atom Loading gif for my app?

[2020-04-02 18:42] enricovittorini commented on #422
Any update on this issue? Is there a plan?

[2020-04-11 18:39] kiranchhetri1 commented on #446
No I don't have macosx

[2020-04-11 18:42] kiranchhetri1 opened #452 "Pull request"
Thanks for your submission.

It appears that you've created a pull request using one of our repository's branches. Since this is
almost always a mistake, we're going to go ahead and close this. If it was intentional, please
let us know what you were intending and we can see about reopening it.

Thanks again!

_Originally posted by @mistaken-pull-closer in https://github.com/electron/electron-api-d

[2020-04-11 18:43] #452 closed

[2020-04-28 18:39] LouiBelton opened #453 "Unable to install on windows 10"
I've tried to install these electron demos. Currently im using the corporate laptop for this.

Specs:
Dell Latitude E7470
Using windows 10
npm 6.14.4

Here is the error log

[2020-05-07 16:18] victorhsn commented on #446
Hi @petervandeput, you can use electron-builder for distribution.

`npm i -D electron-builder`

After that, you can create scripts in package.json like this:

[code]

It will create a directory called dist with program-name.app and if you want to create *.dmg file, you must execute `electron-builder --macos`.

I hope that it can help you.

[2020-05-07 23:07] PrakharUniyal commented on #453
Hi @LouiBelton ! I have also encountered this issue while building an electron app. Try deleting the node_modules directory and run npm install to reinstall the packages.

[2020-06-18 04:04] tnah-hcmus opened #454 "Unable to relaunch window after the process crash"
Hello, i got some troubles.
I tried following guide below in "Relaunch window after the process crash" section, but i got a blank page and unable to reach win.reload() .

[code]
This demo snippet only work with electron 6 below, Can I reload after the process crash in higher version ?

[2020-07-25 06:14] tabathap commented on #415
👌

[2020-08-18 17:44] SharmaJiKaBeta commented on #443
Hey . is this request still open . I was hoping i could work on this to get started with open source projects

[2020-08-25 09:07] mishuvs opened #460 "Remove button in tray doesn't work and clicking demo button again doesn't remove tray icon"
The apps says `Click demo again to remove` but clicking it creates a new icon.

![Screenshot from 2020-08-25 14-28-45](https://user-images.githubusercontent.com/35009811/91154680-68e2a200-e6df-11ea-9da7-0263b70dd668.png)

As visible above, multiple icons get created for each time the demo button was clicked. It should've instead closed the tray icon as specified.

![Screenshot from 2020-08-25 14-2

[2020-08-26 18:20] mishuvs opened #461 "libappindicator-WARNING **: Using '/tmp' paths in SNAP environment will lead to unreadable resources"
On opening the tray demo, the following warning is shown:

[code]

What does it mean? How to fix it?

* What operating system are you using?
Ubuntu 18.04

* What version of Node.js is on your system?
v12.13.0

[2020-08-31 16:59] habibieamrullah commented on #443
I love dark mode of everything.... just like Batman.

[2020-10-13 16:25] audioscavenger commented on #422
October 2020, still no reply no plan just a pesky warning from electron-7.2.4 and refusal to import anything when you upgrade to electron-10.1.3
not very serious

[2020-10-26 21:51] gammacray commented on #461
Did you ever find a solution? I'm getting the same errors with a different Snap and I can't figure out what it is.

[2020-10-28 07:47] mishuvs commented on #461
@gammacray No, it leads to the tray icon not showing in the tray. However, I think it goes away when the app is packaged, and the tray icon shows successfully when a packaged app is installed.

[2020-11-02 22:15] kiranchhetri1 opened #468 "Sun sensor"
https://www.github.com/Prof9/Boktai-Solar-Sensor-Patches/tree/master/readme.txt

[2020-11-02 23:55] #468 closed

[2020-11-07 15:26] sabetAI opened #469 "Blank Screen on Windows 10 for API Demo"
[code]

I run `npm install` and `npm start` without errors but get a blank screen API demo screen on load. What could be the issue here?

[2020-11-13 08:36] ysbreh opened #470 "How to perform some tasks when windows is shut down or restarted？"
* What operating system are you using?
windows10
* What version of Node.js is on your system?
Node.js v14.13.1

[2020-11-15 01:52] saquibshaikh14 commented on #422
V>10 doesnot import anything at all.

[2020-11-23 09:58] kiranchhetri1 opened #471 "Todd Sampson's Body Hack - Wikipedia"
https://en.m.wikipedia.org/wiki/Todd_Sampson%27s_Body_Hack

[2020-11-23 19:47] kiranchhetri1 opened #472 "Soul Tiger | Zoids Wiki | Fandom"
https://zoids.fandom.com/wiki/Soul_Tiger

[2020-11-23 21:48] #472 closed

[2020-11-23 21:48] #471 closed

[2020-11-25 08:31] kiranchhetri1 opened #475 "Sensors of Smart Devices in the Internet of Everything (IoE) Era: Big Opportunities and Massive Doubts"
https://www.hindawi.com/journals/js/2019/6514520/

[2020-11-25 09:00] #475 closed

[2020-11-26 07:36] kiranchhetri1 opened #476 "Prison animal programs are benefitting both inmates and hard-to-adopt dogs in Florida, experts say - ABC News"
https://abcnews.go.com/US/prison-animal-programs-benefitting-inmates-hard-adopt-dogs/story?id=60600864

[2020-11-28 09:46] kiranchhetri1 opened #477 "Titan Rain - Wikipedia"
https://en.m.wikipedia.org/wiki/Titan_Rain

[2020-11-29 07:51] kiranchhetri1 opened #478 "DNA methylation patterns of behavior-related gene promoter regions dissect the gray wolf from domestic dog breeds | SpringerLink"
https://link.springer.com/article/10.1007/s00438-017-1305-5

[2020-11-29 13:21] kiranchhetri1 opened #479 "Dogs are humans' oldest companions, DNA shows - BBC News"
https://www.bbc.com/news/amp/science-environment-54690458

[2020-11-29 18:30] #479 closed

[2020-12-08 09:23] bbf13 commented on #420
请问用electron-builder是怎么解决的呀？@changdy

[2021-01-01 21:18] VladPutinEu opened #483 "Installer Not Making Start Menu or Desktop Shortcuts"
* What operating system are you using?
Windows 10 Home 20H2

* What version of Node.js is on your system?
Node.js 14.15.3 LTS

The Electron API Demos installer is not making any Start Menu or Desktop shortcuts.

[2021-01-05 18:15] 1234567-glitch commented on #483
@VladPutinEu may i work on it?

[2021-01-05 21:42] VladPutinEu commented on #483
What do you mean. Are you asking if you could help me or asking if you could fix the issue?

[2021-01-10 16:28] 1234567-glitch commented on #483
Yes thankfully, yes

On Tue, Jan 5, 2021, 23:43 VladPutinEu <notifications@github.com> wrote:

[2021-01-10 16:55] VladPutinEu commented on #483
What are you saying yes at? Will you fix the issue or will you help me?

[2021-01-16 00:05] hahahrfool opened #485 "Can't install on mac m1"
* What operating system are you using?
   mac m1 Mac OS Big Sur 11.1
* What version of Node.js is on your system?
  v15.5.1

* My Issue:
Error: Failed to find Electron v3.0.0 for darwin-arm64 at https://github.com/electron/electron/releases/download/v3.0.0/chromedriver-v3.0.0-darwin-arm64.zip

[2021-01-25 09:09] halton opened #487 "Unable to run with electron 11"
* What operating system are you using?
 Linux Mint 19.30
* What version of Node.js is on your system?
V14.7.0
* Steps:

1. Bump electron version to latest stable version: package.json
2. npm install && npm start

* Expected result: App can start and show correctly.
* Actual Result: App shows with the white screen.

[2021-02-02 23:51] kevin-zx commented on #487
you can try to update
spectron and electron

[2021-02-03 01:49] kevin-zx commented on #485
try to upgrade  dependencies:
"spectron" : "^13.0.0"
"electron-packager": "^15.2.0"
"electron": "^11.2.1"

[2021-02-06 03:25] whtjs commented on #487
i think its because **HTML import** is **_removed_** in recent chrome engine.You can confirm it on console. if you want to run it you have to downgrade your electron version or replace all `<link rel='import' href='something'>` code and also change js code to import it.

[2021-02-13 00:01] #483 closed

[2021-03-10 02:07] 7934345 opened #491 "[Bug]: path with # make api-demos blank"
### Preflight Checklist

- [X] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/electron/electron/issues) for a f

[2021-03-11 01:48] 7934345 commented on #491
@MarshallOfSound U save my ass and thx.
@jkleinsc yes, when 11.3.0 using loadURL(file://path) . And change loadURL to loadFile fix the blank page.

Thank you all and have a nice day!!!

[2021-03-11 01:48] #491 closed

[2021-03-19 08:33] jassler commented on #485
Don't know if @kevin-zx solution worked for @hahahrfool, but it did work for me!

Only problem now is that Electron only shows a blank screen. Updating all dependencies to their latest major version also didn't change this.

<img width="868" alt="screenshot of Electron showing a white frame" src="https://user-images.githubusercontent.com/24298790/111751292-9d44c800-8894-11eb-87cd-6c98612ad6c5.png"

[2021-03-23 23:48] Marwan-x7m opened #492 "Android"
* What operating system are you using?
* What version of Node.js is on your system?

[2021-03-24 09:59] #492 closed

[2021-04-05 10:11] rmamchyk commented on #485
It is reproducing for me as well

[2021-04-06 08:08] tuananhdtu opened #494 "ipcmain on underfined??"
* What operating system are you using?
* "electron": "^12.0.2"
* What version of Node.js is on your system?
* v14.16.0
![Capture](https://user-images.githubusercontent.com/2296411/113679280-ce712500-96e9-11eb-98bc-54a6208f0f61.PNG)

[2021-04-29 20:52] gabcvit commented on #422
Currently using electron ^12.0.2, the solution from @baash05 still works very well over here.
Thanks a lot 👍🏼

[2021-05-14 02:10] alasdair-sli commented on #487
This is also an issue with electron 12. I'm also seeing

`Uncaught ReferenceError: require is not defined
    at index.html:105`

in the console.

[2021-05-14 02:44] Mrxyy commented on #485
It's true that I have the same problem

[2021-05-19 15:25] SaadBilal commented on #485
Any workaround for M1?

[2021-05-26 08:18] YangYongAn commented on #414
Why does my code still report the error under the correct settings?
![image](https://user-images.githubusercontent.com/4987317/119626618-ffdeb500-be3d-11eb-8d18-3a74d49abf86.png)

![image](https://user-images.githubusercontent.com/4987317/119626681-0e2cd100-be3e-11eb-82c8-1ada0fecf660.png)

[2021-05-29 03:03] Zero21102 opened #498 "Rarely adaptjion ofbxeto yrust models"
* What operating system are you using? All
* What version of Node.js is on your system? It will run as a system resource will also be adding ubikey angle titan key support

[2021-05-31 05:48] #498 closed

[2021-06-11 11:06] clark0001 opened #500 "e0fa3a8cbb4e7b491c41e2bf091197bb701042e3"

[2021-06-13 08:42] anjannair commented on #500
Spam issue

[2021-06-13 17:09] #500 closed

[2021-06-15 04:11] binvb opened #502 "spectron"
* What operating system are you using?  macOS
* What version of Node.js is on your system?   v14.15.2

many of webdriver api had allready broken change, hope update the spectron demo

[2021-06-15 13:14] #502 closed

[2021-07-01 09:21] vishalgoel commented on #485
+1

[2021-07-21 17:32] denostr commented on #485
Same problem, m1

[2021-07-22 01:19] Zero21102 commented on #485
Go unix--Sent from my Android phone with mail.com Mail. Please excuse my brevity.On 7/21/21, 1:33 PM Denis Ostrovsky ***@***.***> wrote:

  Same problem, m1
  —You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-28 11:22] estelanova commented on #485
El El mié, jul. 21, 2021 a la(s) 8:20 p. m., Zero21102 <
***@***.***> escribió:

[2021-09-03 04:34] argyili opened #504 "Update check function cannot run successfully in packed mode"
I guess the update check function can not run, for not calling setFeedURL function.
How do I do to make the check, download, and install functions come true?

[code]

[code]

* What operating system are you using?
MacOS
* What version of Node.js is on your system?
7.20.3

[2021-09-03 08:39] argyili commented on #504
Solved it myself. The URL is set at the package.json.

[2021-09-03 08:39] #504 closed

[2021-09-27 09:21] tsflow commented on #487
i have same problem when i run electron 15。
how to resolve it？
![image](https://user-images.githubusercontent.com/47232510/134881314-3511dcd9-6839-4883-8fc1-6711a34b0a81.png)

[2021-11-04 17:14] joaodematejr opened #508 "Uncaught TypeError: Cannot read property 'querySelector' of undefined"
* What operating system are you using? **Windows 11**
* What version of Node.js is on your system? **v14.18.1**

Array.prototype.forEach.call(links, (link) => {
  let template = link.import.querySelector('.task-template')
  let clone = document.importNode(template.content, true)
  if (link.href.match('about.html')) {
    document.querySelector('body').appendChild(clone)
  } else {
    document.que

[2021-11-05 08:57] gzx-miller commented on #508
Same problem at win 10, and linux manjaro.

[2021-11-06 00:10] ctwillie commented on #469
Same.

[2021-11-11 08:19] ViktorFilonenko commented on #508
Hi,
Same issue for Mac and I think for everybody who have updated their Chrome
https://www.chromestatus.com/feature/5144752345317376

Only way is to get rid of rel="import" in favour of other loading mechanism.

Env was: Node.js 16.5.0, Chromium 94.0.4606.81, and Electron 15.3.1

[2021-11-28 15:29] lichong-a commented on #508
same problem at win11,node16.5.0

[2021-12-01 16:36] LeiMingZ commented on #508
some issue:   Uncaught TypeError: Cannot read property 'querySelector' of undefined、、、、
For me, a novice, I look confused。

[2021-12-03 07:55] wangjianxiang commented on #508
Uncaught TypeError: Cannot read property 'app' of undefined
    at Settings._getSettingsFilePath (D:\projects\source-code\webStorm\electron\electron-api-demos\node_modules\electron-settings\lib\settings.js:75)
    at Settings._ensureSettings (D:\projects\source-code\webStorm\electron\electron-api-demos\node_modules\electron-settings\lib\settings.js:147)
    at Settings._readSettings (D:\projects\s

[2021-12-08 14:11] coofive commented on #508
![image](https://user-images.githubusercontent.com/15228214/145222537-f07c55d2-5e88-4419-b767-9ae142bbfa97.png)

I have the same problem at win10, node 14.15.1, npm 6.14.8

[2021-12-08 14:12] miki-long commented on #508
[Mickey]已经收到了，谢谢

[2021-12-20 08:09] youyou12344 commented on #508
因为 electron 版本太高，对应的 chromium 版本不支持 `html imports`。
解决方法: 在 package.json 中降低 electron 的版本为 `^7.2.4`。

Because the electron version is too high, the corresponding chromium version does not support 'HTML imports'.
Solution:  The version of electron in package.json is reduced to ` ^ 7.2 4`。

[2021-12-20 22:52] Bazmundi opened #510 "api demo comes up as minimal window with no widgetry"
* What operating system are you using?
Windoze 10
* What version of Node.js is on your system?
16.3.1

Followed the build instructions at https://github.com/electron/electron-api-demos#Building

I expected https://cloud.githubusercontent.com/assets/378023/15016148/ae06cc80-124a-11e6-80dd-076d83e492f6.png

Got https://github.com/Bazmundi/pics/blob/main/unimpressive.png

[2021-12-28 00:09] MrTimcakes commented on #510
This also happens on Windows 11 with Node v17.3.0

[2021-12-28 00:36] AaaaJaay commented on #510
Unsubscribe

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Timothy Adamson ***@***.***>
Sent: Monday, December 27, 2021 6:10:36 PM
To: electron/electron-api-demos ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [electron/electron-api-demos] api demo comes up as minimal window with no widgetry (Issue #510)

This also happens on Windows 11 with Node v17.3.0

[2022-01-26 14:50] myspeleo commented on #510
The same happens to me with Windows 11 (node 16.13.2) and also Windows 7 (node 12.14.0)

[2022-01-26 14:51] miki-long commented on #510
[Mickey]已经收到了，谢谢

[2022-01-31 07:45] Afk1991 commented on #469
same

[2022-01-31 07:46] Afk1991 commented on #469
It just stucks in cmd also

[2022-01-31 23:42] eugenedw commented on #485
Any solutions for this? Same issue on M1 Max

[2022-02-01 00:50] chris-pollard commented on #485
Yep also same issue.

[2022-02-01 05:27] swethakunda commented on #485
I am also looking for a solution for this exact issue!

[2022-02-01 23:20] swethakunda commented on #485
ok, this is what worked for me:

https://stackoverflow.com/questions/37884130/electron-remote-is-undefined

[2022-02-07 13:58] ballonura commented on #487
also here

[2022-02-07 13:59] ballonura commented on #487
also here

<img width="321" alt="Screen Shot 2022-02-07 at 15 59 11" src="https://user-images.githubusercontent.com/22234568/152801991-1ba62735-9df3-4433-a584-6aa0aa1c77ef.png">

<img width="551" alt="Screen Shot 2022-02-07 at 15 59 46" src="https://user-images.githubusercontent.com/22234568/152802072-ed5e493c-8147-42ec-ad03-dc3a949f9efe.png">

[2022-03-29 11:59] AiFxApp opened #514 "dependency issues after initial -> npm install"
* What operating system are you using?
Windows 11
* What version of Node.js is on your system?
v17.5.0
NPM -v
8.5.1

Warning Message after cloning repo and running 'npm install'

[code]

[2022-03-29 12:03] AiFxApp commented on #469
same

[2022-04-07 16:27] i-johnso commented on #514
I have the same issue

OS: mac os 12.3.1
npm: 8.5.5
node: 17.8.0

[2022-04-11 09:44] ezel commented on #514
https://github.com/electron/electron-api-demos/issues/508#issuecomment-997688706

[2022-04-11 09:45] ezel commented on #469
https://github.com/electron/electron-api-demos/issues/508#issuecomment-997688706

[2022-04-16 21:30] sreza commented on #514
did deleting "electron" in package-lock.json resolve this for you?

[2022-04-20 08:55] LondonWebFactory commented on #514
Same Issue:

![2022-04-20_09-54-49](https://user-images.githubusercontent.com/26409558/164190715-c5d6707c-558d-4f95-8cdf-d38623b82526.png)

![2022-04-20_09-52-20](https://user-images.githubusercontent.com/26409558/164190222-d84cd3b2-77cc-491a-8e30-3f06512d0d5a.png)

![2022-04-20_09-53-59](https://user-images.githubusercontent.com/26409558/164190576-99fc7c43-7984-43fc-b82f-8eef2ae1f701.png)

[2022-05-07 03:41] CharlesShan-hub commented on #514
I also encountered this problem!

[2022-05-07 03:44] CharlesShan-hub commented on #514
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/81956717/167236825-ad441cd2-1c5e-41ee-98cd-25c8e6fe4dcc.png">

<img width="690" alt="image" src="https://user-images.githubusercontent.com/81956717/167236857-3be338b4-765f-4ec5-97c0-f0110b0c34a7.png">

[2022-06-22 05:47] Harrylever commented on #514
Same Issue here
![Screenshot 2022-06-22 06:46:43](https://user-images.githubusercontent.com/76135767/174952858-a716d1a5-05ee-4825-b1d2-80a6965fc63b.png)

[2022-06-22 05:50] Harrylever commented on #514
![Screenshot 2022-06-22 06:49:23](https://user-images.githubusercontent.com/76135767/174953149-67e705ad-d742-46f2-a503-3d9d206b2979.png)

[2022-06-22 18:03] Welding-Torch commented on #218
I'm having the same problem.

Node Package Manager Version:  8.5.5
Node Version: 17.8.0

Tried this, didn't work

[2022-06-22 18:47] Welding-Torch commented on #514
I have run into the same error

[2022-06-29 06:45] Always-beginner commented on #508
That's working for me thank you!!

[2022-08-07 20:00] codetoadsnow commented on #514
The same

[2022-08-07 20:00] miki-long commented on #514
[Mickey]已经收到了，谢谢

[2022-08-18 15:12] moarwick commented on #514
Sadly, same here (OSX Big Sur) -- just a white blank screen (no error dialog even)

[2022-08-22 16:33] jwoo92 commented on #514
[code]

[2022-09-19 18:00] acantepie commented on #514
Same issue.

@jwoo92
[code]

It's always the same with Js app, they can't work more than 3 months...

[2022-09-19 18:00] miki-long commented on #514
[Mickey]已经收到了，谢谢

[2022-09-19 18:07] jwoo92 commented on #514
The steps I recommended fix only the white screen issue.

[2022-10-11 07:20] miki-long commented on #514
[Mickey]已经收到了，谢谢

[2022-11-06 11:38] magorbalassy commented on #485
Same issue for me.

[2022-11-06 11:38] miki-long commented on #485
[Mickey]已经收到了，谢谢

[2022-11-10 21:48] sacalito commented on #510
also happend to me in windows 10 latest electron version 15.6.6
Thankyou for this replay

[2022-11-23 15:52] spooner20 opened #525 "Electron API Demo"

[2022-11-24 09:22] apipaliya commented on #420
@saurabh21289  your link is broken

[2022-11-29 13:43] sineway commented on #510
Node 19.1.0
Electron 19.1.4
Linux
![Screenshot from 2022-11-29 16-37-25](https://user-images.githubusercontent.com/23264894/204543780-67bb6c95-b79d-4b43-a6e5-2711e40878f7.png)